.footer
	
	&-logo
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		justify-content center
		align-items center
		padding 75px 0 95px
		
		img
			width 92px
			height: auto