.footer
	
	&-logo
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		justify-content center
		align-items center
		padding 75px 0 95px
		
		img
			width 92px
			height: auto

// .footer-main
//   @media (min-width: $grid-md)
//     margin-bottom 3.5rem

// .footer-bottom
//   @media (min-width: $grid-md)
//     border-top 1px solid #737781
//     padding-top 0.95rem

// .foot-title
//   font-size 1.4rem
//   font-weight 400
//   margin-bottom 0.9em
//   text-transform uppercase

//   @media (min-width: $grid-md) and (max-width: $grid-md-max)
//     font-size 1.15rem

//   a
//     color #fff

// .foot-nav-menu
//   list-style none
//   margin-bottom 2.5rem
//   padding-left 0

// .foot-nav-item
//   font-size 1rem
//   font-weight 300
//   margin-bottom 1rem

// .foot-nav-link
//   color #AAB0C0

//   &:hover
//     color #fff

// .foot-bottom-menu
//   display flex
//   flex-wrap wrap
//   list-style none
//   margin-bottom 0
//   padding-left 0

//   @media (max-width: $grid-sm-max)
//     margin-left -2.5rem
	
//   @media (min-width: $grid-md)
//     margin-left -1.5rem

// .foot-bottom-item
//   font-weight 300

//   @media (max-width: $grid-sm-max)
//     font-size 12px
//     line-height 2
//     margin-left 2.5rem

//   @media (min-width: $grid-md)
//     font-size 0.9rem
//     margin-left 1.5rem
//     text-transform uppercase

// .foot-bottom-link
//   color #AAB0C0

//   &:hover
//     color #fff