.header
	color $black
	z-index 1000

.navbar-header
	align-items center
	display flex
	justify-content space-between
	height 100px
	position relative

.navbar-logo

	img
		height 80px
		width 105px

.navbar-brand
	left 50%
	position absolute
	top 50%
	transform translate(-50%, -50%)

	img
		height 16px
		width 90px

.navbar
	&-toggler
	&-search-button
		background transparent
		border 0
		cursor pointer
		display block
		height 25px
		padding 0
		position relative
		width 32px
		margin-left 10px
		margin-right 10px

		&:hover,
		&:focus
			text-decoration none

.navbar-toggler-bar
	background-color $black
	height 3px
	left 0px
	position absolute
	width 20px

	&:nth-child(1)
		top 2px
	
	&:nth-child(2)
		top 8px
	
	&:nth-child(3)
		top 14px

.navbar-search
	position relative
	margin-left: calc(var(--grid-gutter-width) / -2)
	margin-right: calc(var(--grid-gutter-width) / -2)
	overflow: hidden;

	&:before
		content ''
		position: absolute
		width 200%
		top 0
		border-top: 1px solid $gray-100
		transition none
		left -50%
		
	&-form
		height 78px
		width 100%
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-items center
		justify-content center
		position relative
		padding-left: 25px;
		padding-right: 25px;
		border-radius 2px
		
	&-input
		border: none
		border-radius 0
		max-width 100%
		width 100%
		height 100%
		background-color transparent
		padding 9px 18px
		
		&-wrapper
			position: relative
			border: 1px solid $gray-100
			border-radius 2px
			width 100%
			max-height 40px
			background-color: $formFill
			font-size 1rem
			overflow: hidden
		
	&-icon
		position: absolute
		right 28px
		color: transparent
		width 45px
		height 30px
		background-position center center
		background-repeat: no-repeat
		background-size: 20px 19px
		background-color $formFill
	
	&-button
		background-color: #fff
		height 25px
		width 35px
		img
			position: absolute
			top 1px
			width 19px
			height 20px
			object-fit scale-down
			object-position: right

.navbar-collapse
	background-color #fff

	.navbar-collapse-wrapper
		height 570px


.navbar-collapse-inner
	padding: 0 0 17.5px
	position: relative
	

.nav-menu
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	justify-content space-between
	list-style none
	margin-bottom 0
	padding-left 0
	position: relative

.nav-item
	letter-spacing 0.02em
	transition all 200ms linear
	&.active
		.nav-sub-menu-wrapper
			display: block
		.nav-link
			font-weight 600
			&:after,
			&:before
				display: block
			
.nav-link
	color $black
	font-size 10px
	text-transform: uppercase
	position: relative
	transition all 0.15s ease-in-out
	font-weight 400
	
	&:hover
		font-weight 500
		
	&:after
		display: none
		content ''
		position absolute
		border: 7px solid transparent;
		border-bottom:9px solid $black
		left: 50%
		top: 12px
		transform translate(-50%)
	
	&:before
		content ''
		position absolute
		border: 7px solid transparent;
		border-bottom: 9px solid $white
		left: 50%
		top: 15px
		transform translate(-50%)
		z-index 12
		display: none
		
	@media(min-width: $grid-ix)
		font-size 12px
			&:after
				top 30px

.nav-sub-menu
	list-style none
	margin-bottom 0
	padding-left 0
	padding-bottom 15px
	
	&-wrapper
		transition all 0.15s ease-in-out
		border-top: 2px solid $black;
		display: none
		position: absolute
		margin-top 15px
		width: 100%;
		left 0
		z-index 2
		
.nav-sub-item
	position: relative
	&:after
		content ''
		position absolute
		width 100%
		height 1px
		background-color: $gray-100
		bottom 0
		left 0
	&:before
		content ''
		position: absolute
		width 9px
		height 9px
		background-color transparent
		border-top 2px solid $black
		border-right 2px solid $black
		transform rotate(45deg)translateY(-50%)
		top 50%
		right 7px
	

.nav-sub-link
	display block
	color #000
	font-weight 400	
	padding 15px 0
	
	&.link-bold
		font-weight: bold

	@media (max-width: $grid-sm-max)
		color #000
		font-size 15px
	
	@media (min-width: $grid-md)
		color #000
		font-size 14px
		font-weight 500
		line-height 1.08
		text-transform uppercase

		&:hover
			color #000
			text-decoration none

.navbar-lang
	font-size 0.9rem
	font-weight 500
	position absolute
	right 0
	top 50%
	transform translateY(-50%)

	&__toggler
		align-items center
		color #fff
		display flex
		position relative

		.icon-dropdown-arrow
			fill #fff
			height 6px
			margin-left 8px
			transition all 0.15s ease-in-out
			width 9px

	&__list
		left 0
		opacity 0
		padding-top 0.2rem
		padding-bottom 0.2rem
		position absolute
		right 0
		top 100%
		transition all 0.25s ease-in-out
		transform translateY(2px)
		visibility hidden
	
	&__item
		color #fff
		display block
	
	&:hover
		.navbar-lang__toggler
			color $linkHoverColor

			.icon-dropdown-arrow
				fill $linkHoverColor

		.navbar-lang__list
			opacity 1
			transform translateY(0)
			visibility visible

	&:focus-within
		.navbar-lang__toggler
			color $linkHoverColor

			.icon-dropdown-arrow
				fill $linkHoverColor

		.navbar-lang__list
			opacity 1
			transform translateY(0)
			visibility visible