header.header
  .navbar
    .container
      .navbar-container

        .navbar-header
          button.navbar-toggler.collapsed(type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-bar
            span.navbar-toggler-bar
            span.navbar-toggler-bar

          a.navbar-logo(href="index.html")
            img(src="static/i/general/logo.svg" alt="FindFace Logo")

          button.navbar-toggler.navbar-search-button.collapsed(type="button" data-toggle="collapse" data-target="#search" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation")
            img(src="static/i/general/svg/search.svg" alt="Search")
        .navbar-search.collapse#search 
          form.navbar-search-form
            .navbar-search-input-wrapper
              input.navbar-search-input.form-control(type="search" aria-label="Search") 
            span.navbar-search-icon(style="background-image: url(static/i/general/svg/search.svg)")
        .navbar-collapse.collapse#navigation
          .navbar-collapse-wrapper
            .navbar-collapse-inner
              //- form.navbar-search.d-md-none
              //-   +icon("search")
              //-   input.form-control(type="search")
              nav.nav
                ul.nav-menu
                  li.nav-item.has-sub-menu
                    a.nav-link(href="#") Продукция
                    .nav-sub-menu-wrapper#nav-products
                      ul.nav-sub-menu
                        li.nav-sub-item
                          a.nav-sub-link(href="shirts.html") Сорочки
                        li.nav-sub-item
                          a.nav-sub-link(href="catalog.html") Галстуки
                        li.nav-sub-item
                          a.nav-sub-link(href="catalog.html") Кашне
                        li.nav-sub-item
                          a.nav-sub-link(href="catalog.html") Пластроны
                        li.nav-sub-item
                          a.nav-sub-link(href="catalog.html") Жилеты
                        li.nav-sub-item
                          a.nav-sub-link(href="catalog.html") Бабочки
                        li.nav-sub-item
                          a.nav-sub-link(href="catalog.html") Подтяжки
                        li.nav-sub-item
                          a.nav-sub-link(href="catalog.html") Брюки
                        li.nav-sub-item
                          a.nav-sub-link(href="catalog.html") Запонки
                        li.nav-sub-item
                          a.nav-sub-link.link-bold(href="catalog.html") Вся продукция
                        li.nav-sub-item
                          a.nav-sub-link.link-bold(href="shirts.html") Распродажа

                  li.nav-item.has-sub-menu
                    a.nav-link(href="#") О компании
                    .nav-sub-menu-wrapper#nav-about
                      ul.nav-sub-menu
                        li.nav-sub-item
                          a.nav-sub-link(href="about.html") О нас
                        li.nav-sub-item
                          a.nav-sub-link(href="shops.html") Магазины
                        li.nav-sub-item
                          a.nav-sub-link(href="contacts.html") Контакты
                        li.nav-sub-item
                          a.nav-sub-link(href="reviews.html") Отзывы
                        li.nav-sub-item
                          a.nav-sub-link(href="cooperation.html") Сотрудничество
                        li.nav-sub-item
                          a.nav-sub-link(href="#") Гарантии
                        li.nav-sub-item
                          a.nav-sub-link(href="return.html") Возврат и обмен
                        li.nav-sub-item
                          a.nav-sub-link(href="delivery.html") Доставка
                        li.nav-sub-item
                          a.nav-sub-link(href="#") Гид по размерам
                        li.nav-sub-item
                          a.nav-sub-link(href="technology.html") Технологии
                  
                  li.nav-item.has-sub-menu
                    a.nav-link(href="#") Оптовым покупателям
                    .nav-sub-menu-wrapper#nav-customers
                      ul.nav-sub-menu
                        li.nav-sub-item
                          a.nav-sub-link.link-bold(href="wholesale-buyers.html") Преимущества
                        li.nav-sub-item
                          a.nav-sub-link.link-bold(href="#") Предзаказ
                        li.nav-sub-item
                          a.nav-sub-link(href="wholesale-shirts.html") Сорочки
                        li.nav-sub-item
                          a.nav-sub-link(href="wholesale-necktie.html") Галстуки
                        li.nav-sub-item
                          a.nav-sub-link(href="wholesale-muffler.html") Кашне
                        li.nav-sub-item
                          a.nav-sub-link(href="wholesale-plastron.html") Пластроны
                        li.nav-sub-item
                          a.nav-sub-link(href="wholesale-waistcoats.html") Жилеты
                        li.nav-sub-item
                          a.nav-sub-link(href="wholesale-bow-tie.html") Бабочки
                        li.nav-sub-item
                          a.nav-sub-link(href="wholesale-suspenders.html") Подтяжки
                        li.nav-sub-item
                          a.nav-sub-link(href="wholesale-trousers.html") Брюки
                        li.nav-sub-item
                          a.nav-sub-link(href="wholesale-cufflinks.html") Запонки
