mixin about-content()

	section.section.section--about-content
		.container
			.about-section
				.about-content
					.about-content__title
						p
							strong C 1992 года бренд «Mario Machardi» представлен и на российском рынке.

					.about-content__text
						p Благодаря изысканному сочетанию классических и&nbsp;современных тенденций мировой моды, бескомпромиссному качеству, уникальному дизайну и&nbsp;инновационным технологиям обработки тканей, продукция &laquo;Mario Machardi&raquo; получила широкое признание покупателей и&nbsp;сегодня, новые коллекции сорочек, галстуков и&nbsp;аксессуаров можно приобрести в&nbsp;сети магазинов и&nbsp;фирменных точках продаж &laquo;Mario Machardi&raquo; уже по&nbsp;всей России.
	
	section.section.section--about-content
		.container
			.about-section
				.about-content__items
					.about-content__item
						.about-content__item-title
							| Традиции.
							strong Верность качеству
						.about-content__item-text
							| На&nbsp;сегодняшний день компания Machardi известна традиционно высоким качеством выпускаемой продукции, отвечающей запросам самых привередливых покупателей. Благодаря использованию только лучших материалов и&nbsp;применению современных и&nbsp;высокотехнологических методов производства, компании удалось достигнуть высочайшего качества при невысоких ценах.

					.about-content__item
						.about-content__item-title
							| Дизайн.
							strong Вы безупречны
						.about-content__item-text
							| Дизайн моделей разрабатывается итальянскими дизайнерами с&nbsp;учетом классических и&nbsp;современных тенденций моды. Больший выбор цветов и&nbsp;фактур ткани, позволяют каждому покупателю найти найболее подходящий вариант. Имея производство в&nbsp;Италии, компания Machardi с&nbsp;каждым годом расширяет круг своих постоянных покупателей по&nbsp;всему миру.

					.about-content__item
						.about-content__item-title
							| Задачи.
							strong Оставаться лучшими
						.about-content__item-text
							| Одна из&nbsp;основных задач, которые ставит перед собой компания&nbsp;&mdash; это производство сорочек и&nbsp;галстуков, в&nbsp;которых любой мужчина сможет чувствовать себя удобно и&nbsp;уверенно.

	section.section.section--about-content
		.container
			.about-section
				.global-blocks-title.about-sertificates-title
					span.global-blocks-title_text Сертификаты
				.about-sertificates
					.about-sertificates__item
						img(src="static/i/content/about/sertificate1.jpg", alt="sertificate1")
					.about-sertificates__item
						img(src="static/i/content/about/sertificate2.jpg", alt="sertificate2")  
