section.section.section--confession
  .container
    h2.section-title #[strong Findface] Confession
    .confession-logos
      img(src="static/i/general/logos/logo-nist.svg" alt="")
      img(src="static/i/general/logos/logo-iarpa.svg" alt="")
      img(src="static/i/general/logos/logo-wider.svg" alt="")
    .confession-text
      p NtechLab utilizes the world’s most accurate and fast biometric identification algorithm whose efficiency has been repeatedly recognized by the National Institute of Standards and Technology (NIST) and the Intelligence Advanced Research Projects Activity (IARPA) in independent tests. NtechLab is also one of the best performing contestants of the Wider Face and Pedestrian Challenge 2018 organized by Amazon.