mixin contacts()
	.contacts
		// TODO: информация по созданию yandex карт: https://tech.yandex.ru/maps/doc/constructor/concepts/About-docpage/
		+mapContacts()
		.container

			.contacts-section.adress
				.contacts-section__item
					.contacts-section__item-title Адрес
					.contacts-section__item-text
						span 105122, г. Москва, 
						span Щелковское ш., д.2а
				
				.contacts-section__item
					.contacts-section__item-title Телефон
					.contacts-section__item-text
						span
							a(href="tel:+74957786526") +7 (495) 778-65-25
						span 
							a(href="tel:+74959798503") +7 (495) 979-85-03

				.contacts-section__item
					.contacts-section__item-text
						span Внутренний номер: 58-84

				.contacts-section__item
					.contacts-section__item-title Почта
					.contacts-section__item-text
						span
							a(href="mailto:info@machardi.ru") info@machardi.ru

			.contacts-section.requisites
				.global-blocks-title
					span.global-blocks-title_text Реквизиты

				.contacts-section__item
					.contacts-section__item-title Полное наименование организации
					.contacts-section__item-text 
						span ИНДИВИДУАЛЬНЫЙ ПРЕДПРИНИМАТЕЛЬ СУВОРОВА ТАТЬЯНА ВАЛЕНТИНОВНА

				.contacts-section__item
					.contacts-section__item-title Краткое наименование организации
					.contacts-section__item-text 
						span ИП СУВОРОВА Т. В.

				.contacts-section__item
					.contacts-section__item-title Юридический адрес
					.contacts-section__item-text 
						span 125252, г. Москва, Проезд Березовой рощи, дом 10, кв. 245

				.contacts-section__item
					.contacts-section__item-title ИНН/КПП
					.contacts-section__item-text 
						span 773600135880

				.contacts-section__item
					.contacts-section__item-title № расчетного счета
					.contacts-section__item-text 
						span 40802810938000104535

				.contacts-section__item
					.contacts-section__item-title Основной государственный регистрационный номер (ОГРН)
					.contacts-section__item-text 
						span 317774600521831

				.contacts-section__item
					.contacts-section__item-title ОКПО
					.contacts-section__item-text 
						span 0121918289

				.contacts-section__item
					.contacts-section__item-title ОКВЭД
					.contacts-section__item-text 
						span 47.71.1

				.contacts-section__item
					.contacts-section__item-title ОКФС

				.contacts-section__item
					.contacts-section__item-title ОКАТО
		
				.contacts-section__item
					.contacts-section__item-title Наименование банка
					.contacts-section__item-text 
						span ПАО Сбербанк

				.contacts-section__item
					.contacts-section__item-title БИК банка
					.contacts-section__item-text 
						span 044525225

				.contacts-section__item
					.contacts-section__item-title Корреспондентский счет банка
					.contacts-section__item-text 
						span 30101810400000000225

				.contacts-section__item
					.contacts-section__item-title Генеральный директор
					.contacts-section__item-text 
						span Суворова Т. В.

				.contacts-section__item
					.contacts-section__item-title Главный бухгалтер
					.contacts-section__item-text 
						span Суворова Т. В.		


												
			.contacts-section.feedback
				.global-blocks-title
					span.global-blocks-title_text Форма обратной связи

				.contacts-section__wrapper.contacts__feedback-form
					.container
						.contacts__feedback-form_preview-text
							| Заполнив форму вы можете оформить заявку, узнать об интересующей вас услуге,  либо оставить сообщение для наших специалистов.

						form.contacts__feedback-form_form(action='?' method='POST')
							.contacts__feedback-form_group
								input.contacts__feedback-form_field(id='fio' type='text' name='fio' data-validation='required')
								label.contacts__feedback-form_label(for='fio')
									| ФИО*
								
							.contacts__feedback-form_group
								input.contacts__feedback-form_field(id='company' type='text' name='company')
								label.contacts__feedback-form_label(for='company')
									| Компания
								
							.contacts__feedback-form_group
								textarea.contacts__feedback-form_textarea(id='message' name='message' rows=6 data-validation='required')
								label.contacts__feedback-form_label(for='message')
									| Ваше сообщение*
								
							.contacts__feedback-form_noty
								| * – поля, обязательные для заполнения

							.contacts__feedback-form_group-submit
								button.btn.btn_theme_black.btn_size_l(type='submit')
									| Отправить
			
			.contacts-section.managers
				.global-blocks-title
					span.global-blocks-title_text Менеджеры

				.contacts-section__item
					.contacts-section__item-title Ковалёва Анна Владимировна
					.contacts-section__item-text
						span
							a.manager-phone(href="tel:+79015294910") +7 (901) 529-49-10
							a.manager-email(href="mailto:ak@machardi.ru") ak@machardi.ru
						
				
				.contacts-section__item
					.contacts-section__item-title Панин Олег Евгеньевич
					.contacts-section__item-text
						span
							a.manager-phone(href="tel:+79015174797") +7 (901) 517-47-97
							a.manager-email(href="mailto:op@machardi.ru") op@machardi.ru

				.contacts-section__item
					.contacts-section__item-title Панин Олег Евгеньевич
					.contacts-section__item-text
						span
							a.manager-phone(href="tel:+79851311532") +7 (985) 131-15-32
							a.manager-email(href="mailto:juliaeremina@machardi.ru") juliaeremina@machardi.ru
