mixin cooperation()
	section.section.section--delivery.section--cooperation
		.delivery.cooperation
			.delivery-section.cooperation-section
				.delivery-section__content
					p.delivery-section__content-text Маркетинговая служба «Mario Machardi» бесплатно предоставит вам дизайн-макет оформления магазина, разработанный с учетом вашего помещения , а кроме этого, предоставит вам широкий ассортиментк красочных рекламных материалов: стоек, баннеров, постеров
				//- .delivery-section__list
				//- 	p.delivery-section__list-title Варианты оплаты заказа:
					
				//- 	ul
				//- 		li — Наличными
				//- 		li — Банковской картой
				//- 		li — По квитанции через банк

			.delivery-section
				.delivery-section__content
					.delivery-section__content-title
						span Доставка
						strong По всей России
					.wholesale-buyers__item.wholesale-buyers__audio-adv
						.wholesale-buyers__item_wrapper
							audio#player(src="static/audio/audio-adv.mp3")
							button(type="button" play-audio="play-audio" style="background-image: url('static/i/general/svg/audio.svg');").cooperation__audio_play-button.show
							button(type="button" pause-audio="pause-audio").cooperation__audio_pause-button.hide
					strong.tac Слушать

			.delivery-section
				.delivery-section__content
					.delivery-section__content-title.mrn
						span Акции в местах продаж.	
						strong Бесплатно!	
			
			.wholesale
				.wholesale-section.wholesale-section--mod.pdn
					.wholesale-section__wrapper  
						.wholesale-section__img.wholesale-table-img
							img(src="static/i/content/cooperation/cooperation.png", alt="акции")
					//- p.delivery-section__content-text Доставка по России доступна на всей территории страны. Перевозка товара осуществляется специализированными логистическими компаниями (Байкал-сервис, Деловые линии, ЖелДор-экспедиция, ПЭК, Лоуд-Сервис, ЭМСК, Автотрейдинг, Юнилэнд),	
			
			.delivery-section.cooperation-section
				.delivery-section__content
					p.delivery-section__content-text Креативные рекламные акции, регулярно проводимые в местах продаж, значительно увеличивают количество посетителей вашего магазина, лояльно настроенных покупателей и формируют позитивный образ марки «Mario Machardi».
	
			.delivery-section.mrn
				.delivery-section__content
					.delivery-section__content-title.mrn
						span Упаковка
						strong и промо-материалы
			
			.wholesale
				.wholesale-section.wholesale-section--mod.pdn.mrn
					.container
						.wholesale-section__wrapper  
							.wholesale-section__img.wholesale-table-img
								img(src="static/i/content/cooperation/box.png", alt="Упаковка")

			.delivery-section.cooperation-section
				.delivery-section__content
					p.delivery-section__content-text Яркая, стильная и наглядная упаковка привлекает внимание и стимулирует спрос, а бесплатно раздаваемая сувенирная и промо-продукция способствует узнаваемости марки и повышает количество лояльно настроенных постителей вашего магазина.
					
			.delivery-section.mrn
				.delivery-section__content
					.delivery-section__content-title.mrn
						span Ассортимент.
						strong Разнообразие продукции
			
			.wholesale
				.wholesale-section.wholesale-section--mod.pdn.mrn
					.container
						.wholesale-section__wrapper  
							.wholesale-section__img.wholesale-table-img
								img(src="static/i/content/cooperation/product.png", alt="Ассортимент")

			.delivery-section
				.delivery-section__content
					p.delivery-section__content-text Торговая марка «Mario Machardi» это не только инновации в мире сорочек, но и широчайший ассортимент других первоклассных предметов одежды.
				
				.delivery-section__list
					
					ul
						li — Галстуки
						li — Бабочки

						li — Жилетки
						li — Заколки и запонки
						li — Кашне
						li — Камербенды
						li — Пластроны
						li — Ремни

			.delivery-section.mrn
				.delivery-section__content
					.delivery-section__content-title.mrn
						span Поштучная подсортировка.
						strong Всегда в наличии.

			.wholesale.pdb
				.wholesale-section.wholesale-section--mod.pdn.mrn
					.wholesale-section__wrapper
						.container
							.container
								.wholesale-section__img.wholesale-table-img
									img(src="static/i/content/cooperation/sorting1.png", alt="подсортировка")
			.nos
				p nos						
			
					//- 	ul.brands
					//- 		li.brands__item
					//- 			img(src="static/i/content/delivery/brand1.png", alt="Delivery brand")
					//- 		li.brands__item
					//- 			img(src="static/i/content/delivery/brand2.png", alt="Delivery brand")
					//- 		li.brands__item
					//- 			img(src="static/i/content/delivery/brand3.png", alt="Delivery brand")
					//- 		li.brands__item
					//- 			img(src="static/i/content/delivery/brand4.png", alt="Delivery brand")
					//- 		li.brands__item
					//- 			img(src="static/i/content/delivery/brand5.png", alt="Delivery brand")
					//- 		li.brands__item
					//- 			img(src="static/i/content/delivery/brand6.png", alt="Delivery brand")
					//- 		li.brands__item
					//- 			img(src="static/i/content/delivery/brand7.png", alt="Delivery brand")

					//- p.delivery-section__content-text.more-mb а также региональными транспортными компаниями. Доставка товара осуществляется до транспортной компании, находящейся в Москва (или в ближайшем Подмосковье) за счёт компании после поступления всей суммы на наш расчётный счёт. Сроки отправки груза указанными компаниями в течение 2-3 дней с момента поступления денежных средств на наш расчётный счёт.	
					

			//- .delivery-section.golden
			//- 	.delivery-section__content
			//- 		p.delivery-section__content-text Доставка по Москве <br>и ближайшему Подмосковью
			//- 			strong Бесплатно*
			//- 		p.small * - После оплаты товара
						


