mixin delivery()
	section.section.section--delivery
		.delivery
			.delivery-section
				.delivery-section__content
					p.delivery-section__content-text При необходимости сроки и стоимость доставки могут быть скорректированы.

				.delivery-section__list
					p.delivery-section__list-title Варианты оплаты заказа:
					
					ul
						li — Наличными
						li — Банковской картой
						li — По квитанции через банк

			.delivery-section
				.delivery-section__content
					.delivery-section__content-title
						span Доставка
						strong По всей России

					p.delivery-section__content-text Доставка по России доступна на всей территории страны. Перевозка товара осуществляется специализированными логистическими компаниями (Байкал-сервис, Деловые линии, ЖелДор-экспедиция, ПЭК, Лоуд-Сервис, ЭМСК, Автотрейдинг, Юнилэнд),	
						
						ul.brands
							li.brands__item
								img(src="static/i/content/delivery/brand1.png", alt="Delivery brand")
							li.brands__item
								img(src="static/i/content/delivery/brand2.png", alt="Delivery brand")
							li.brands__item
								img(src="static/i/content/delivery/brand3.png", alt="Delivery brand")
							li.brands__item
								img(src="static/i/content/delivery/brand4.png", alt="Delivery brand")
							li.brands__item
								img(src="static/i/content/delivery/brand5.png", alt="Delivery brand")
							li.brands__item
								img(src="static/i/content/delivery/brand6.png", alt="Delivery brand")
							li.brands__item
								img(src="static/i/content/delivery/brand7.png", alt="Delivery brand")

					p.delivery-section__content-text.more-mb а также региональными транспортными компаниями. Доставка товара осуществляется до транспортной компании, находящейся в Москва (или в ближайшем Подмосковье) за счёт компании после поступления всей суммы на наш расчётный счёт. Сроки отправки груза указанными компаниями в течение 2-3 дней с момента поступления денежных средств на наш расчётный счёт.	
					

			.delivery-section.golden
				.delivery-section__content
					p.delivery-section__content-text Доставка по Москве <br>и ближайшему Подмосковью
						strong Бесплатно*
					p.small * - После оплаты товара
						


