// Слайдер
section.section.section--main-slider
	.owl-carousel.main-slider
		.main-slider__slide.slide
			img(src="static/i/content/main-slider/1.jpg" alt="Image")
		.main-slider__slide.slide
			img(src="static/i/content/main-slider/2.jpg" alt="Image")
		.main-slider__slide.slide
			img(src="static/i/content/main-slider/3.jpg" alt="Image")
