section.section.section--media
  .container
    h2.section-title #[strong The World] Is Talking
    .media-list#media
      - var items = [ { name: "The Guardian", logo: "logo-theguardian.svg", text: "The software is called FindFace, and it was developed by the Moscow-based company NtechLab.", width: 133, height: 24 }, { name: "Bloomberg", logo: "logo-bloomberg.svg", text: "Hey, I Just Met You. I Took Your Picture. Now I Know Your Name.", width: 118, height: 23 }, { name: "The Washington Post", logo: "logo-thewashingtonpost.svg", text: "Russia’s new FindFace app identifies strangers in a crowd with 70 percent accuracy.", width: 191, height: 29 }, { name: "Buzzfeed", logo: "logo-buzzfeed.svg", text: "This Russian Program Can Find Your Face Anywhere.", width: 104, height: 19 }, { name: "Independent", logo: "logo-independent.svg", text: "Russia tries to get smart about artificial intelligence.", width: 169, height: 31 }, { name: "Daily Mirror", logo: "logo-dailymirror.svg", text: "FindFace which uses facial recognition to identify strangers on social media takes Russia by storm.", width: 84, height: 27 } ]
      each item in items
        .media-item
          .media-item__logo
            img(src="static/i/general/media/"+item.logo width=item.width height=item.height alt=item.name)
          .media-item__text
            = item.text