mixin novelty()
  // Новинки
  section.section.section--novelty
    .novelty 
      .container
        .novelty-title.global-blocks-title
          span.global-blocks-title_text Новинки
      .novelty__wrapper
        .novelty__title
          .container
            | Сорочки Non Iron.
            br
            b Не требуют глажки!
        
        .novelty__image
          img(src='static/i/content/novelty/novelty.png' alt='Сорочки Non Iron')

        .novelty__description
          .container
            | Мужские рубашки NON IRON
            | (не&nbsp;требующие глажки) от&nbsp;компании
            | Mario Machardi&nbsp;&mdash; это отличная возможность для торговых сетей
            | и&nbsp;магазинов привлечь новых клиентов&nbsp;&mdash; поклонников европейского качества
            | и&nbsp;изысканного итальянского стиля.