mixin personal-account(authorized, adminAccount)
	// Personal Account
	.footer-fixed__personal-account.personal-account
		if (authorized != true)
			// TODO: Структура если пользователь НЕ авторизован
			ul.personal-account__bottom
				li.personal-account__bottom_item(data-popup='#popup-signin')
					img(src="static/i/general/svg/sign-icon.svg", alt="Войти")
					.personal-account__bottom_link
						
						| Войти
				li.personal-account__bottom_item
					img(src="static/i/general/svg/basket.svg", alt="Корзина")
					a.personal-account__bottom_link(href='/basket/')
						
						| Корзина
				li.personal-account__bottom_item(data-popup='#popup-request-call')
					img(src="static/i/general/svg/request-call.svg", alt="Заказать звонок")
					.personal-account__bottom_link.personal-account__bottom_request-call
						| Заказать звонок

		if (authorized == true)
			// TODO: Структура если пользователь авторизован
			ul.personal-account__top
				li.personal-account__top_item
					a.personal-account__top_link(href='#')
						| Самовывоз
				li.personal-account__top_item
					a.personal-account__top_link(href='#')
						| Доставка
				li.personal-account__top_item
					a.personal-account__top_link(href='#')
						| Возврат
			ul.personal-account__bottom
				li.personal-account__bottom_item
					.personal-account__bottom_text.personal-account__bottom_bold
						| Соломакин Алексей
					if (adminAccount)
						.personal-account__bottom_separator |
						.personal-account__bottom_text.personal-account__bottom_separator
							| Заявки:
							=' '
							b: span(style='color: #0096ff') 4
							=' / '
							b: span(style='color: #d10909') 1
					else
						.personal-account__bottom_separator(style='margin: 0 -3px 0 10px;') |
				li.personal-account__bottom_item
					a.personal-account__bottom_link.personal-account__bottom_unbold(href='#')
						| Выйти



	// Попап Вход
	.footer-popup-form(id='popup-signin' data-popup-modal)

		.footer-popup-form__title
			span 
				| Войти 
			| или
			.footer-popup-form__title_link(data-popup='#popup-signup') 
				| зарегистрироваться

		.footer-popup-form__wrapper
			form.footer-popup-form__form(action='?' method='POST')
				

				.footer-popup-form__form_column
					.footer-popup-form__form_group.footer-popup-form__form_input
						input.footer-popup-form__form_field.sign-in-field(placeholder="Логин" type='text' name='login' data-validation='required')
						label.footer-popup-form__form_label
							img(src="static/i/general/svg/login-icon.svg", alt="Логин")

					.footer-popup-form__form_group.footer-popup-form__form_input.last-input
						input.footer-popup-form__form_field.sign-in-field(placeholder="Пароль" type='password' name='password' data-validation='length' data-validation-length='min6')
						label.footer-popup-form__form_label
							img(src="static/i/general/svg/pass-icon.svg", alt="Пароль")
					
					.footer-popup-form__form_group
						.footer-popup-form__form_subfield-link(data-popup='#popup-remind-password')
							| Забыли пароль?

					.footer-popup-form__form_group.footer-popup-form__form_submit
						button.btn.btn_theme_black.btn_size_l(type='submit')
							| Войти


	// Попап Регистрация
	.footer-popup-form(id='popup-signup' data-popup-modal)
		.footer-popup-form__title
		.footer-popup-form__title
			span 
				| Зарегистрироваться 
			| или
			.footer-popup-form__title_link(data-popup='#popup-signin') 
				| войти

		.footer-popup-form__wrapper
			form.footer-popup-form__form(action='?' method='POST')
				.footer-popup-form__form_column

					.footer-popup-form__form_group.footer-popup-form__form_input
						input.footer-popup-form__form_field(type='text' name='email' data-validation='email')
						label.footer-popup-form__form_label
							| Email

					.footer-popup-form__form_group.footer-popup-form__form_input
						input.footer-popup-form__form_field(type='text' name='fio' data-validation='required')
						label.footer-popup-form__form_label
							| ФИО

					.footer-popup-form__form_group.footer-popup-form__form_input
						input.footer-popup-form__form_field(type='text' name='org' data-validation='required')
						label.footer-popup-form__form_label
							| Организация

					.footer-popup-form__form_group.footer-popup-form__form_input
						input.footer-popup-form__form_field(type='text' name='address' data-validation='required')
						label.footer-popup-form__form_label
							| Адрес магазина

					.footer-popup-form__form_group.footer-popup-form__form_input
						input.footer-popup-form__form_field(type='text' name='city' data-validation='required')
						label.footer-popup-form__form_label
							| Город
					
					.footer-popup-form__form_group.footer-popup-form__form_input
						input.footer-popup-form__form_field(type='text' name='phone-number' data-validation='length number' data-validation-length='10-11' data-validation-ignore='+')
						label.footer-popup-form__form_label
							| Телефон
					
					// TODO: чтобы Подтверждение пароля работало исправно, в поле 'data-validation-confirm'
					// должно быть name от input, то есть pass_validate
					.footer-popup-form__form_group.footer-popup-form__form_input
						input.footer-popup-form__form_field(type='password' name='pass_validate' data-validation='length' data-validation-length='min6')
						label.footer-popup-form__form_label.footer-popup-form__form_label--fix-top
							| Пароль
							span.footer-popup-form__form_label-help
								br
								| ( не менее 6 символов )
					
					.footer-popup-form__form_group.footer-popup-form__form_input.last-input
						input.footer-popup-form__form_field(type='password' name='password_confirmation' data-validation='confirmation length' data-validation-confirm='pass_validate' data-validation-length='min6')
						label.footer-popup-form__form_label
							| Подтверждение пароля
			
					.footer-popup-form__form_group
						.footer-popup-form__form_subfield-text
							| Все поля обязательны для заполнения.
			
					.footer-popup-form__form_group.footer-popup-form__form_submit
						button.btn.btn_theme_black.btn_size_l(type='submit')
							| Регистрация


	// Попап Забыли пароль
	.footer-popup-form(id='popup-remind-password' data-popup-modal)
		.footer-popup-form__title
			span
				| Забыли пароль?
			.footer-popup-form__title_subtitle
				| Укажите адрес электронной почты или номер телефона, указанные вами при регистрации
		
		.footer-popup-form__wrapper
			form.footer-popup-form__form(action='?' method='POST')

				.footer-popup-form__form_column
					.footer-popup-form__form_group.footer-popup-form__form_input.last-input
						input.footer-popup-form__form_field(type='text' name='email'
						data-validation='email')
						label.footer-popup-form__form_label
							| Email
				
					.footer-popup-form__form_group.footer-popup-form__form_submit
						button.btn.btn_theme_black.btn_size_l(type='submit')
							| Отправить


	// Попап Заказать звонок
	.footer-popup-form(id='popup-request-call' data-popup-modal)
		.footer-popup-form__title
			span
				| Заказать звонок
		.footer-popup-form__wrapper
			form.footer-popup-form__form(action='?' method='POST')

				.footer-popup-form__form_column
					.footer-popup-form__form_group.footer-popup-form__form_input
						input.footer-popup-form__form_field(type='text' name='email' data-validation='email')
						label.footer-popup-form__form_label
							| ФИО
					
					.footer-popup-form__form_group.footer-popup-form__form_input
						input.footer-popup-form__form_field(type='text' name='phone-number' data-validation='length number' data-validation-length='10-11' data-validation-ignore='+')
						label.footer-popup-form__form_label
							| Телефон

					.footer-popup-form__form_group.footer-popup-form__form_input.last-input
						textarea.footer-popup-form__form_textarea(name='comment' rows='6')
						label.footer-popup-form__form_label
							| Комментарий

					.footer-popup-form__form_group.footer-popup-form__form_submit
						button.btn.btn_theme_gray.btn_size_m(type='submit')
							| Отменить
						button.btn.btn_theme_black.btn_size_m(type='button' data-popup='#popup-request-call')
							| Заказать

