section.section.section--related
  .container
    h2.section-title #[strong You Are] In Good Company
    .related-list#related
      .related-item
        .related-item__pic
          a(href="#" title="FindFace ensured safety of FIFA 2018")
            img(src="http://picsum.photos/430/278?photo=10" alt="FindFace ensured safety of FIFA 2018")
        .related-item__content
          .related-item__title.d-none.d-md-block
            a(href="#") FindFace ensured safety of FIFA 2018
          .related-item__lead NtechLab’s cutting-edge face recognition technology was employed to implement three different scenarios.
          .related-item__more
            a.link-more(href="#")
              | Read full story
              +icon("link-arrow")
      .related-item
        .related-item__pic
          a(href="#" title="Know your customer—how to increase sales")
            img(src="http://picsum.photos/430/278?photo=11" alt="Know your customer—how to increase sales")
        .related-item__content
          .related-item__title.d-none.d-md-block
            a(href="#") Know your customer—how to increase sales
          .related-item__lead NtechLab’s cutting-edge face recognition technology was employed to implement three different scenarios.
          .related-item__more
            a.link-more(href="#")
              | Read full story
              +icon("link-arrow")
      .related-item
        .related-item__pic
          a(href="#" title="Face recognition—guarantee of customer loyalty")
            img(src="http://picsum.photos/430/278?photo=12" alt="Face recognition—guarantee of customer loyalty")
        .related-item__content
          .related-item__title.d-none.d-md-block
            a(href="#") Face recognition—guarantee of customer loyalty
          .related-item__lead NtechLab’s cutting-edge face recognition technology was employed to implement three different scenarios.
          .related-item__more
            a.link-more(href="#")
              | Read full story
              +icon("link-arrow")