mixin return()
	section.section.section--return
		.return
			.return-subtitle
				| 365 дней в году
			.return-text
				p При необходимости, вы можете вернуть оплаченный товар по адресу: г.&nbsp;Москва, Щёлковское&nbsp;шоссе, д.&nbsp;2А, офис&nbsp;1226	
		+mapContacts()
