mixin review(items)
	each item in items
		.review
			.review__text
				p
					!=item.text
			.review__autor
				span
					!=item.author

mixin reviews()
	section.section.section--reviews
		.container
			.reviews
				.reviews__wrapprer
					+review([{
						text: 'Хочу выразить благодарность за&nbsp;оперативную работу коллектива, хорошее качество продукции и&nbsp;своевременную доставку. Исключительно положительные эмоции от&nbsp;работы с&nbsp;Вами!',
						author: 'Екатерина Дебнева'
					}, {
						text: 'Здравствуйте! Вчера получила свой заказ! Очень довольна вашей оперативной работой по&nbsp;сборке заказов, качеством вашей продукции и&nbsp;совпадением размеров одежды!! Спасибо большое!!!',
						author: 'Ольга Васильевна'
					}, {
						text: 'Очень понравилось качество одежды. Спасибо! Буду заказывать еще.',
						author: 'Виктор Немцов'
					}, {
						text: 'Привет! Я&nbsp;всем очень довольна, вот только новинок&nbsp;бы побольше, а&nbsp;в&nbsp;остальном всё классно!',
						author: 'Виктория'
					}, {
						text: 'Получила заказ,качество отличное,модели подошли точно по&nbsp;размеру.Огромное спасибо.Осталась очень довольна.',
						author: 'Анна'
					}, {
						text: 'Давно сотрудничаю с&nbsp;брендом ММ. Качество продукции и&nbsp;цены очень радуют. Приятный персонал и&nbsp;выгодные условия работы.',
						author: 'Максим'
					}, {
						text: 'Мне очень нравятся сорочки этой фирмы. У&nbsp;них отличное качество и&nbsp;всегда большой выбор расцветок. Муж и&nbsp;сын довольны и&nbsp;носят с&nbsp;удовольствием, а&nbsp;благодаря обработке, которая используется для тканей, я&nbsp;забыла как выглядит утюг и&nbsp;гладильная доска&nbsp;&mdash; я&nbsp;просто вешаю чистую влажную сорочку на&nbsp;вешалку и&nbsp;она разглаживается сама.',
						author: 'Галина'
					}, {
						text: 'хочу поделиться свои опытом работы с&nbsp;брендом. В&nbsp;целом качество не&nbsp;плохое, даже наоборот. На&nbsp;моих клиентов сорочки&nbsp;ММ садятся очень хорошо. На&nbsp;мой взгляд в&nbsp;ассортименте не&nbsp;так много рубашек в&nbsp;стиле кэжуал. Хочется увидеть больше.',
						author: 'Артур'
					}, {
						text: 'На&nbsp;прошлой неделе приезжала к&nbsp;вам, сделала заказ. Очень порадовал ассортимент. Много новых дизайнов, хорошие воротнички&nbsp;&mdash; модные.',
						author: 'Юлия'
					}, {
						text: 'Получили первую партию товара, очень понравилось и&nbsp;качество, и&nbsp;внешний вид. Очень порадовал красочный каталог. Ассортимент конечно большой.',
						author: 'Андрей'
					}, {
						text: 'Заказываю уже не&nbsp;первый раз, очень довольна качеством изделий, и&nbsp;работой сотрудников. Вещи оригинальные, в&nbsp;магазинах нашего города такие точно не&nbsp;купишь. И&nbsp;цены очень приятные для такого качества. Спасибо вам!',
						author: 'Дарья'
					}])