section.section.section--select-case
  .container
    h2.section-title #[strong Select] Case
    .cases-list#select-case
      - var items = [ { title: "<strong>Public</strong><br>Safety", icon: "icon-safety.svg", text: "All the world’s largest airports will be equipped with a face recognition technology" }, { title: "<strong>Increasing</strong><br>Sales", icon: "icon-sales.svg", text: "Customer behavior analytics. Creation of heat maps and customers’ movement routes" }, { title: "<strong>Creating</strong><br>Impressions", icon: "icon-impressions.svg", text: "Gambling establishments in the world successfully use face recognition technologies" }, { title: "<strong>Reducing</strong><br>Fraud", icon: "icon-fraud.svg", text: "Financial organizations in the world successfully use face recognition technologies" }, { title: "<strong>Registration</strong><br>of Guests", icon: "icon-guests.svg", text: "Tracks the silhouette and path of a person passing by the camera" } ]
      each item, index in items
        .cases-item(data-index=(index+1))
          a.cases-item__link(href="#")
            .cases-item__head
              .cases-item__title
                != item.title
              img.cases-item__icon(src="static/i/general/cases/"+item.icon alt="")
            .cases-item__text
              = item.text