mixin technology-content()
	section.section.section--technology-content
		.container
			.technology-section
				.global-blocks-title.technology-section-title
					span.global-blocks-title_text
						img(src="static/i/general/svg/wolecula.svg", alt="Wolecula")
				//Wolecula			
				.technology-content
					.technology-content__title
						p Wolecula comfort 24

					.technology-content__text
						p Хлопок является традиционным материалом в&nbsp;одежде, и&nbsp;относится к&nbsp;экологически чистой текстильной продукции. Но&nbsp;не&nbsp;секрет, что с&nbsp;некоторыми его свойствами приходилось мириться&nbsp;&mdash; он&nbsp;быстро мнется и&nbsp;тяжело гладится.

						p Используя высокие технологии для повышения качества хлопка, мы&nbsp;получили уникальную возможность предложить Вам сорочки &laquo;Mario Machardi&raquo; со&nbsp;свойствами натурального хлопка, а&nbsp;вместе с&nbsp;Wolecula и&nbsp;заветную формула комфорта.

					.technology-content__list
						p.technology-content__list-title Комплекс обработок, обладающий уникальными свойствами:	

						ul.list
							li.list__item Ткань «дышит»;
							li.list__item Быстро восстановливается после смятия;
							li.list__item Не подвержена усадке;
							li.list__item Устойчива к пиллингу;
							li.list__item Прочна;
							li.list__item Экологична.

	section.section.section--technology-content
		.container
			.technology-section
				//banner
				.technology-banner
					.technology-banner__column
						.technology-banner__img
							img(src="static/i/content/technology/technology-banner1.png", alt="Обычная ткань")
						.technology-bannet__text Обычная немнущаяся сорочка.
							strong Ткань «не дышит»
					
					.technology-banner__column
						.technology-banner__img
							img(src="static/i/content/technology/technology-banner2.png", alt="WOLECULA COMFORT 24")
						.technology-bannet__text WOLECULA COMFORT&nbsp;24
							strong Ткань «дышит»
	
	+innovations(!showDesc)
	//Welcon	
	section.section.section--technology-content
		.container
			.technology-section
				.global-blocks-title.technology-section-title
					span.global-blocks-title_text
						img(src="static/i/general/svg/welcon.svg", alt="Welcon")
						
				.technology-content

					.technology-content__text
						p Welcon&nbsp;&mdash; революционная технология термического соединения швов, которая позволяет полностью отказаться от&nbsp;ниток и&nbsp;иголок при пошиве сорочек, обеспечивая при этом недостижимую ранее ровность и&nbsp;высочайшую прочность соединения ткани.

						p
							strong Любите гладить? Купите другую!
	+banner('tech-banner1.jpg')

	//Non Iron
	section.section.section--technology-content
		.container
			.technology-section
				.global-blocks-title.technology-section-title
					span.global-blocks-title_text
						img(src="static/i/general/svg/non-iron-logo.svg", alt="Non Iron")

				.technology-content
					.technology-content__text
						p После стирки и&nbsp;высыхания ткани меньше мнутся, не&nbsp;деформируются, так что глажение не&nbsp;обязательно.<br />Эта &laquo;ready to&nbsp;go&raquo; обработка положительно сказывается в&nbsp;повседневной носке, потому что восприимчивость складки минимизирована, и&nbsp;стабильность размера сохраняется.
						
						p
							strong Не требует глажки!

					.technology-content__list

						ul.list-icons
							li.list-icons__item
								img(src="static/i/general/svg/non-iron-icon1.svg", alt="Первая стирка").list-icons__icon 
								.list-icons__text Перед тем как одеть сорочку в&nbsp;первый раз, ее&nbsp;необходимо постирать. Свои лучшие качества сорочка приобретает после третьей стирки.
							li.list-icons__item
								img(src="static/i/general/svg/non-iron-icon2.svg", alt="Режим стирки").list-icons__icon 
								.list-icons__text Режим стирки: не&nbsp;более 40&deg;С, отжим от&nbsp;300 до&nbsp;600 об./мин, порошок без отбеливателя.
							li.list-icons__item
								img(src="static/i/general/svg/non-iron-icon3.svg", alt="После стирки").list-icons__icon 
								.list-icons__text После стирки сорочку необходимо тут&nbsp;же достать из&nbsp;стиральной машины и&nbsp;повесить на&nbsp;плечики
							li.list-icons__item
								img(src="static/i/general/svg/non-iron-icon4.svg", alt="Не выжимать").list-icons__icon 
								.list-icons__text Не выкручивать
							li.list-icons__item
								img(src="static/i/general/svg/non-iron-icon5.svg", alt="Сушка").list-icons__icon 
								.list-icons__text Сушить на&nbsp;плечиках с&nbsp;застегнутой верхней пуговицей
							li.list-icons__item
								img(src="static/i/general/svg/non-iron-icon6.svg", alt="Смайл").list-icons__icon 
								.list-icons__text Cорочка готова к&nbsp;носке

	//Easy Care
	section.section.section--technology-content
		.container
			.technology-section
				.global-blocks-title.technology-section-title
					span.global-blocks-title_text Easy Care

				.technology-content
					.technology-content__text
						p Применяется на&nbsp;тканях из&nbsp;100% хлопка. Обеспечивает легкое разглаживание и&nbsp;уменьшает сминание изделия. Уход за&nbsp;изделием стандартный, но&nbsp;глажение значительно облегченно по&nbsp;сравнению с&nbsp;необработанным хлопком.
						
						p
							strong Без заломов после стирки!

					