section.section.section--what-we-do
  .container
    h2.whatwedo-title
      span What We Do
    .whatwedo-text
      p Our solutions offer a superior level of performance for businesses of all types and sizes empowering them to reduce their costs, optimize business processes and create awesome competitive advantages. FindFace products can be used in a wide range of spheres — finance and banking, commerce and retail, law enforcement, events, transportation infrastructure.
    .whatwedo-slider.owl-carousel
      a(href="#")
        img(src="static/i/general/logos/logo-microsoft.svg" width="145" height="31" alt="")
      a(href="#")
        img(src="static/i/general/logos/logo-polygon.png" width="62" height="80" alt="")
      a(href="#")
        img(src="static/i/general/logos/logo-bitrix24.png" width="141" height="27" alt="")
      a(href="#")
        img(src="static/i/general/logos/logo-futurice.svg" width="143" height="31" alt="")
      a(href="#")
        img(src="static/i/general/logos/logo-tearsecurity.png" width="82" height="25" alt="")
      a(href="#")
        img(src="static/i/general/logos/logo-microsoft.svg" width="145" height="31" alt="")