mixin wholesale-buyers()
  // Оптовым покупателям
  section.section.section--wholesale
    .wholesale
        
        .wholesale-section
          .container  
            .wholesale-section__wrapper  
              .wholesale-section__text
                | Демократичные цены.
                strong Солидные скидки
              .wholesale-section__img
                img(src="static/i/general/svg/procent.svg", alt="Демократичные цены")

        .wholesale-section
          .container  
            .wholesale-section__wrapper  
              .wholesale-section__text
                | Индивидуальные подход.
                strong Ваш персональный менеджер
              .wholesale-section__img
                img(src="static/i/general/svg/chat.svg", alt="Индивидуальные подход")

        .wholesale-section
          .container  
           .wholesale-section__wrapper  
              .wholesale-section__text
                | Эксклюзивные права на&nbsp;территорию продаж.
                strong Без конкуренции!
               
              .wholesale-section__img
                img(src="static/i/general/svg/location-icon.svg", alt="Локация")

        .wholesale-section.wholesale-section--mod
           
            .wholesale-section__wrapper  
              .container  
                .wholesale-section__text
                  | Доставка. 
                  strong Москва. Область.
                  strong Вся Россия

              .wholesale-section__img.wholesale-map-img
                img(src="static/i/content/wholesale/wholesale-map.png", alt="Доставка") 

        .wholesale-section.wholesale-section--mod
          
            .wholesale-section__wrapper 
              .container   
                .wholesale-section__text
                  | Планирование сезона поставок. 
                  strong Прибыль круглый год!
              .wholesale-section__img.wholesale-table-img
                img(src="static/i/content/wholesale/wholesale-table.jpg", alt="Планирование")
            
            p Удобная сервисная программа позволяет вам в любое время года с легкостью планировать сезонные и ежегодные поставки как новых, так и традиционных коллекций «Mario Machardi».
        
        .wholesale-button
          .container 
            a(href="#").btn.btn_size_l.btn_theme_pink Хочу стать диллером      


          