section.section.section--features
  .container
    h2.section-title #[strong Explore] Key Features
    .features#features
      .features-list
        - var items = [ { name: "Face Detection", icon: "detection", text: "Recognize facial expressions and identify primary and secondary emotions." }, { name: "Video Support", icon: "video", text: "Recognize facial expressions and identify primary and secondary emotions." }, { name: "Age", icon: "age", text: "Recognize facial expressions and identify primary and secondary emotions." } ]
        each item in items
          .features-item
            .features-item__head(id="features-heading-"+item.icon)
              button.features-item__link.collapsed(type="button" data-target="#features-collapse-"+item.icon data-toggle="collapse" aria-expanded="false" aria-controls="features-collapse-"+item.icon)
                .features-item__link-inner
                  img(class="icon icon--"+item.icon src="static/i/general/features/icon-"+item.icon+".svg" alt=item.name)
                  = item.name
            .features-item__text.collapse(id="features-collapse-"+item.icon aria-labelledby="features-heading-"+item.icon data-parent="#features")
              .features-item__text-inner
                = item.text
      .features-list
        - var items = [ { name: "Verification (1:1)", icon: "verification", text: "Recognize facial expressions and identify primary and secondary emotions." }, { name: "Emotions", icon: "emotions", text: "Recognize facial expressions and identify primary and secondary emotions." }, { name: "Ethnicity", icon: "ethnicity", text: "Recognize facial expressions and identify primary and secondary emotions." } ]
        each item in items
          .features-item
            .features-item__head(id="features-heading-"+item.name)
              button.features-item__link.collapsed(type="button" data-target="#features-collapse-"+item.icon data-toggle="collapse" aria-expanded="false" aria-controls="features-collapse-"+item.icon)
                .features-item__link-inner
                  img(class="icon icon--"+item.icon src="static/i/general/features/icon-"+item.icon+".svg" alt=item.name)
                  = item.name
            .features-item__text.collapse(id="features-collapse-"+item.icon aria-labelledby="features-heading-"+item.icon data-parent="#features")
              .features-item__text-inner
                = item.text
      .features-list
        - var items = [ { name: "Identification (1:N)", icon: "identification", text: "Recognize facial expressions and identify primary and secondary emotions." }, { name: "Gender", icon: "gender", text: "Recognize facial expressions and identify primary and secondary emotions." } ]
        each item in items
          .features-item
            .features-item__head(id="features-heading-"+item.name)
              button.features-item__link.collapsed(type="button" data-target="#features-collapse-"+item.icon data-toggle="collapse" aria-expanded="false" aria-controls="features-collapse-"+item.icon)
                .features-item__link-inner
                  img(class="icon icon--"+item.icon src="static/i/general/features/icon-"+item.icon+".svg" alt=item.name)
                  = item.name
            .features-item__text.collapse(id="features-collapse-"+item.icon aria-labelledby="features-heading-"+item.icon data-parent="#features")
              .features-item__text-inner
                = item.text