section.section.section--intro
  .intro-background#intro-video
    video(autoplay loop muted playsinline)
      source(src="static/video/intro.webm" type="video/webm")
      source(src="static/video/intro.mp4" type="video/mp4")
  .container
    .intro-title
      strong Boost
      br
      | Your Efficiency
    .intro-subtitle With Facial Recognition
    .intro-lead Flexible AI solutions designed to power your business
    .intro-button
      a.btn.btn-bordered(href="#") Talk To Sales
    .intro-progress#intro-progress
      svg.intro-progress-circle.intro-progress-circle--1(xmlns="http://www.w3.org/2000/svg" width="260" height="260" viewBox="0 0 260 260")
        circle(cx="130" cy="130" r="129.5" fill="none" stroke="#FFFFFF" stroke-width="1" stroke-opacity=".18")
      svg.intro-progress-circle.intro-progress-circle--2(xmlns="http://www.w3.org/2000/svg" width="153" height="153" viewBox="0 0 153 153")
        circle(cx="76.5" cy="76.5" r="76" fill="none" stroke="#FFFFFF" stroke-width="1" stroke-opacity=".18")
      svg.intro-progress-circle.intro-progress-circle--3(xmlns="http://www.w3.org/2000/svg" width="139" height="139" viewBox="0 0 139 139")
        circle(cx="69.5" cy="69.5" r="69" fill="none" stroke="#FFFFFF" stroke-width="1" stroke-opacity=".08")
      svg.intro-progress-circle.intro-progress-circle--4(xmlns="http://www.w3.org/2000/svg" width="153" height="153" viewBox="0 0 153 153")
        circle(cx="76.5" cy="76.5" r="76" fill="none" stroke="#FFFFFF" stroke-width="1" stroke-opacity=".82" stroke-dasharray="477.5")
      .intro-progress-content
        - var texts = [ { count: 0.3, text: "Query time for 500M dataset" }, { count: 0.55, text: "Intro progress text" }, { count: 0.2, text: "Intro dataset text number 3" }, { count: 100, text: "Dataset time for progress longer text" } ]
        each text in texts
          .item
            span.intro-progress-time
              span= text.count
              |  sec
            span.intro-progress-text= text.text