section.section.section--who-are-you
  .container
    h2.section-title Who Are You
  .solutions
    .solutions-block
      img.solutions-block__pic(src="static/i/content/solutions-1.jpg" alt="")
      .solutions-block__content
        .solutions-title
          strong Solutions
          br
          | For Business
        .solutions-text Choose ready solutions#[br] for various industries:
        .solutions-block__links #[a.link-industry(href="#") CASINO] #[span.delim |] #[a.link-industry(href="#") PUBLIC SAFETY] #[span.delim |] #[a.link-industry(href="#") HORECA] #[span.delim |] #[a.link-industry(href="#") RETAIL] #[span.delim |] #[a.link-industry(href="#") RETAIL]
    .solutions-block
      img.solutions-block__pic(src="static/i/content/solutions-2.jpg" alt="")
      .solutions-block__content
        .solutions-title
          strong Solutions
          br
          | For Government
        .solutions-text Delivering a superior level of public safety#[br] in crowded locations
        .solutions-block__links
          a.link-more(href="#")
            | View solutions
            +icon("link-arrow")