include sections/banner
include sections/banner-with-text
include sections/popular-goods
include sections/innovations
include sections/novelty
include sections/wholesale-buyers
include sections/personal-account
include sections/products
include sections/shops
include sections/goods
include sections/catalog-filter
include sections/pagination
include sections/basket/basket-good
include sections/basket/basket-form
include sections/basket/basket-popup
include sections/good
mixin icon(name, mod)
	if (typeof mod !== "undefined")
		- mod = ' ' + mod
	else
		- mod = ''
	svg(class="icon icon-" + name + mod)
		use(xlink:href="static/i/svg/symbol/sprite.svg#icon-" + name)

mixin pageTitle(text)
	//Page title
	section.section.section--page-title
		.container
			h2.page-title!=text