// .btn
//   background-color transparent
//   border-radius 0
//   cursor pointer
//   font-size 1rem
//   line-height 1.25
//   text-transform uppercase
  
//   @media (min-width: $grid-md)
//     font-size 1.2rem

.btn
	border-radius 2px
	line-height 34px
	// font-family "SF UI Text"
	font-weight bold
	font-size 21px
	// transition all 50ms easy
	color $white
	&:focus
		outline none
		box-shadow: 0px 0px 4px 2px rgba(204,204,204,1)
	
	&:active
		transform scale(.95)
	
	&_theme_black
		color $white
		background-color $black
	
	&_theme_gray
		background-color $gray-300
		color $white
		&:active,
		&:hover
			background-color $black
		
	&_size
		&_m
			width 48%
		&_l
			width 100%

//   border-color #fff
//   color #fff !important
//   // height 38px
//   padding 0.67rem 1.35rem 0.6rem

//   &:hover
//   &:focus
//     background-color darken($primary, 10%)
//     border-color darken($primary, 10%)
  
//   &:active
//     background-color darken($primary, 20%)
//     border-color darken($primary, 10%)
  
//   @media (min-width: $grid-md)
//     padding 0.7rem 1.7rem 0.6rem

// .btn-primary
//   align-items center
//   background-color $primary
//   border 0
//   color #fff !important
//   display inline-flex
//   font-weight 700
//   height 58px
//   justify-content center
//   padding 1.25rem 3rem 1.15rem

//   @media (max-width: $grid-sm-max)
//     font-size 1.2rem
//     padding 0.6rem 1.25rem
//     white-space normal
//     width 200px

//   &:hover
//   &:focus
//     background-color darken($primary, 10%)
  
//   &:active
//     background-color darken($primary, 20%)
  
//   @media (min-width: $grid-md)
//     padding 1rem 1.8rem 0.9rem

// .btn-link
//   align-items center
//   border 0
//   color $primary
//   display flex
//   font-weight 700