.icon
  fill currentColor

.icon-link-arrow
  height 17px
  margin-left 1rem
  width 21px

  @media (min-width: $grid-md)
    height 23px
    width 27px

.icon-search-2
  height 20px
  width 20px

  @media (min-width: $grid-lg)
    height 23px
    width 23px