extends ../layout/main

block variables
  - var title = "Blog — FindFace"

block content
  header.page-header
    .page-header-background
      img(src="static/i/content/blog-header-bg.jpg" alt="")
    .container
      h1.page-header-title
        strong FindFace
        br
        | Blog
  
  section.section
    .container
      .blog-list
        article.blog-item
          .blog-item__pic
            img(src="http://picsum.photos/610/435?photo=10" alt="")
          .blog-item__content
            .blog-item__date
              time 14.03.2017
            .blog-item__title
              a(href="#") Neural Networks for Face Recognition. Part I
            .blog-item__tag
              a.blog-item__tag-link(href="#") #facerecognition
            .blog-item__lead
              p Dear friends! Talking about a variety of Artificial Neural Networks areas of application is impossible and incomplete without the story of the very neural network, the history of its research and the main types of artificial neural systems. And we’ll start from this.
            .blog-item__more
              a.link-more(href="#")
                | Continue reading
                +icon("link-arrow")
        article.blog-item
          .blog-item__pic
            img(src="http://picsum.photos/610/435?photo=11" alt="")
          .blog-item__content
            .blog-item__date
              time 14.03.2017
            .blog-item__title
              a(href="#") Neural Networks for Face Recognition. Part I
            .blog-item__tag
              a.blog-item__tag-link(href="#") #facerecognition
            .blog-item__lead
              p Dear friends, we are going further with our story about Neural Networks and the second part of it will explain
              h3 #[strong What is a neural network]
              p A neural network is a simple computational model, which consists of a vector of inputs, several computational units and outputs (Fig.1). Originally, such model design was inspired by small parts of the human brain, neurons.
            .blog-item__more
              a.link-more(href="#")
                | Continue reading
                +icon("link-arrow")
        article.blog-item
          .blog-item__pic
            img(src="http://picsum.photos/610/435?photo=12" alt="")
          .blog-item__content
            .blog-item__date #[time 12.09.2017] by Roman Manzhulo
            .blog-item__title
              a(href="#") How Face Recognition Helps Public Safety
            .blog-item__tag
              a.blog-item__tag-link(href="#") #facerecognition
            .blog-item__lead
              p Do you dream to live in the city where you can walk late at night in the local park fearlessly?
              p Do you want to stop being afraid of the child coming home from school?
              p Just admit it: you’ve been dreaming to take your grandson to watch football game, and everything that confuses you are the fan fights in the stadiums and nearby. You don’t want your boy watch this.
            .blog-item__more
              a.link-more(href="#")
                | Continue reading
                +icon("link-arrow")
      .pagination
        - var page = 0
        while page < 5
          - page++
          a.pagination__link(href="#" class=(page == 1) ? "active" : "")= page
      form.articles-search
        +icon("search-2")
        label.sr-only(for="") Search
        input.form-control(type="search" id="" placeholder="Search")

  .page-footer.page-footer--demo
    .page-footer-background
    .container
      .page-footer-title
        strong Start Your Demo
        br
        | With FindFace
      .page-footer-subtitle Today
      .page-footer-button
        a.btn.btn-primary(href="#") Schedule Demo