extends ../layout/main

block variables
	- var title = "Сотрудничество — Mario Machardi"

block content
	.coopetarion-container
		+pageTitle('Сотрудничество')
		+bannerWithText("banner2.jpg","Оформление <br>монобрендовых точек продаж.","по всей России")
		+cooperation()