extends ../layout/main

block variables
  - var title = "Mario Machardi"

block content
  include ../sections/main-slider
  +banner("banner1.jpg")
  +bannerWithText("banner2.jpg","150 офлайн-магазинов","по всей России")
  +popular-goods()
  +innovations()
  +novelty()
  +wholesale-buyers()
  include ../sections/drop-description