extends ../layout/main

block variables
  - var title = "Technologies — FindFace"

block content
  header.page-header.page-header--tech
    .page-header-background
      img(src="static/i/content/tech-header-bg.jpg" alt="")
    .container
      h1.page-header-title
        strong Leading
        br
        | Technology
      .page-header-subtitle For face recognition
      .tech-awards
        .tech-awards-item
          .tech-awards-item__logo
            img(src="static/i/general/awards/logo-nist.svg" alt="")
          .tech-awards-item__content
            .tech-awards-item__title CERTIFIED#[br] TOP PERFORMER
        .tech-awards-item
          .tech-awards-item__logo
            img(src="static/i/general/awards/logo-iarpa.png" alt="")
          .tech-awards-item__content
            .tech-awards-item__title 1ST PLACE
            .tech-awards-item__text VERIFICATION ACCURACY#[br] IDENTIFICATION SPEED
        .tech-awards-item.tech-awards-item--sm
          .tech-awards-item__logo
            img(src="static/i/general/awards/logo-wider.svg" alt="")
          .tech-awards-item__content
            .tech-awards-item__title THE III BEST PERFORMANCE#[br] ON THE DETECTION#[br] OF PEDESTRIANS AND CYCLIST

  section.section.section--what-we-do
    .container
      h2.whatwedo-title
        span Why FindFace
      .whatwedo-text
        p We have the world's best algorithm developed in-house behind all of our technologies. Our facial recognition algorithms are acknowledged to have the best performance on the most influential independent benchmarks.
  
  section.section.section--tech
    .container
      h2.section-title #[strong Explore] Core Technologies
      ul.nav.tech-nav-tabs(role="tablist")
        li.tech-nav-item
          a.tech-nav-link#tech-tab-1(data-toggle="tab" href="#tech-pane-1" role="tab" aria-controls="tech-pane-1" aria-selected="false") Face Detection
        li.tech-nav-item
          a.tech-nav-link#tech-tab-2(data-toggle="tab" href="#tech-pane-2" role="tab" aria-controls="tech-pane-2" aria-selected="false") Face Identification
        li.tech-nav-item
          a.tech-nav-link.active#tech-tab-3(data-toggle="tab" href="#tech-pane-3" role="tab" aria-controls="tech-pane-3" aria-selected="true") Face Verification
        li.tech-nav-item
          a.tech-nav-link#tech-tab-4(data-toggle="tab" href="#tech-pane-4" role="tab" aria-controls="tech-pane-4" aria-selected="false") Age, Gender
        li.tech-nav-item
          a.tech-nav-link#tech-tab-5(data-toggle="tab" href="#tech-pane-5" role="tab" aria-controls="tech-pane-5" aria-selected="false") Emotions
      .tech-body
        .tech-pane#tech-pane-1(role="tabpanel" aria-labelledby="tech-tab-1")
          .tech-content
            p Tab 1
        .tech-pane#tech-pane-2(role="tabpanel" aria-labelledby="tech-tab-2")
          .tech-content
            p Tab 2
        .tech-pane.fade.show.active#tech-pane-3(role="tabpanel" aria-labelledby="tech-tab-3")
          .tech-content
            .tech-content-header
              .tech-content-header__icon
                img(src="static/i/general/technologies/icon-face-verification.svg" alt="Face Verification")
              .tech-content-header__title The quality of our solutions is guaranteed by the world's best algorithm. NtechLab top performance is confirmed by IARPA and NIST.
            .tech-content-body
              p #[strong IARPA FRPC.] Face Recognition Prize Challenge is hosted by the Intelligence Advanced Research Projects Activity (IARPA). The goal of the competition is to find the most effective face recognition algorithms and increase the accuracy of face recognition on wild images. 
              p NtechLab is the winner of the renowned competition in two categories out of three: "Verification accuracy" and "Identification speed". 
              p #[strong NIST FRVT.] A testing of face recognition algorithms by the U.S. National Institute of Standards and Technology (NIST), a non-regulatory federal agency within the U.S. Department of Commerce. NtechLab outperformed more than 80 algorithms all over the world.
            .tech-table-wrapper
              table.tech-table.table
                thead
                  tr
                    th.cell-logo &nbsp;
                    th.cell-value VISA - 1
                    th.cell-value VISA - 2
                    th.cell-value Mugshots
                    th.cell-value Wild
                    th.cell-value Child
                tbody
                  tr.row-current
                    td.cell-logo
                      img(src="static/i/general/logos/logo-ntech.svg" width="135" height="53" alt="")
                    td.cell-value 3
                    td.cell-value 1
                    td.cell-value 3
                    td.cell-value 2
                    td.cell-value 1
                  tr
                    td.cell-logo
                      img(src="static/i/general/logos/logo-vocord.png" width="135" height="41" alt="")
                    td.cell-value 4
                    td.cell-value 3
                    td.cell-value 14
                    td.cell-value 6
                    td.cell-value 32
                  tr
                    td.cell-logo
                      img(src="static/i/general/logos/logo-visionlabs.png" width="139" height="41" alt="")
                    td.cell-value 17
                    td.cell-value 9
                    td.cell-value 1
                    td.cell-value 1
                    td.cell-value 3
                  tr
                    td.cell-logo
                      img(src="static/i/general/logos/logo-yitu.png" width="139" height="23" alt="")
                    td.cell-value 1
                    td.cell-value 2
                    td.cell-value 22
                    td.cell-value 11
                    td.cell-value 7
                  tr
                    td.cell-logo
                      img(src="static/i/general/logos/logo-face.png" width="128" height="28" alt="")
                    td.cell-value 5
                    td.cell-value 5
                    td.cell-value 42
                    td.cell-value 37
                    td.cell-value 2
            .tech-content-button
              a.btn.btn-primary(href="#") Connect with our team
        .tech-pane#tech-pane-4(role="tabpanel" aria-labelledby="tech-tab-4")
          .tech-content
            p Tab 4
        .tech-pane#tech-pane-5(role="tabpanel" aria-labelledby="tech-tab-5")
          .tech-content
            p Tab 5
  
  section.section
    .container
      h2.section-title #[strong Recognized] Across The World
      .recognition-header
        .recognition-header__item The world’s fastest and most accurate face recognition algorithm
        .recognition-header__item.d-none.d-md-block Recognized by&nbsp;experts, proved by&nbsp;customers
      .recognition-list#recognition
        .recognition-item
          .recognition-item__head(id="recognition-heading-1")
            .recognition-item__link.collapsed(data-target="#recognition-collapse-1" data-toggle="collapse" aria-expanded="false" aria-controls="recognition-collapse-1")
              .recognition-item__year 2015
              .recognition-item__title Megaface Contest
          .recognition-item__body.collapse(id="recognition-collapse-1" aria-labelledby="recognition-heading-1" data-parent="#recognition")
            .recognition-item__logo
              img(src="static/i/general/logos/logo-uw.svg" alt="University of Washington")
            .recognition-item__text International challenge in face recognition algorithms at the University of Washington, USA
            .recognition-item__result
              p.recognition-item__result-item Best accuracy in face recognition
              p.recognition-item__result-item Outperformed Google and other competitors
        .recognition-item
          .recognition-item__head(id="recognition-heading-2")
            .recognition-item__link.collapsed(data-target="#recognition-collapse-2" data-toggle="collapse" aria-expanded="false" aria-controls="recognition-collapse-2")
              .recognition-item__year 2017
              .recognition-item__title IARPA
          .recognition-item__body.collapse(id="recognition-collapse-2" aria-labelledby="recognition-heading-2" data-parent="#recognition")
            .recognition-item__logo
              img(src="static/i/general/logos/logo-iarpa.svg" alt="IARPA")
            .recognition-item__text International contest executed by the Intelligence Advanced Research Projects Activity, an organization within the Office of the Director of National Intelligence, USA
            .recognition-item__result
              p Top performer in:
              p.recognition-item__result-item Verification Accuracy
              p.recognition-item__result-item Identification Speed
        .recognition-item
          .recognition-item__head(id="recognition-heading-3")
            .recognition-item__link.collapsed(data-target="#recognition-collapse-3" data-toggle="collapse" aria-expanded="false" aria-controls="recognition-collapse-3")
              .recognition-item__year 2017
              .recognition-item__title EmotionNet Challenge
          .recognition-item__body.collapse(id="recognition-collapse-3" aria-labelledby="recognition-heading-3" data-parent="#recognition")
            .recognition-item__text Championship for developers of emotion recognition algorithms hosted by the University of Ohio, USA
            .recognition-item__result
              p.recognition-item__result-item Best performance on emotion recognition
        .recognition-item
          .recognition-item__head(id="recognition-heading-4")
            .recognition-item__link(data-target="#recognition-collapse-4" data-toggle="collapse" aria-expanded="true" aria-controls="recognition-collapse-4")
              .recognition-item__year 2018
              .recognition-item__title NIST FRVT ongoing
          .recognition-item__body.collapse.show(id="recognition-collapse-4" aria-labelledby="recognition-heading-4" data-parent="#recognition")
            .recognition-item__logo
              img(src="static/i/general/logos/logo-nist.svg" alt="NIST")
            .recognition-item__text Testing executed by the National Institute of Standards and Technology (NIST), USA
            .recognition-item__result
              p.recognition-item__result-item Best Results for a database of wild images
        .recognition-item
          .recognition-item__head(id="recognition-heading-5")
            .recognition-item__link.collapsed(data-target="#recognition-collapse-5" data-toggle="collapse" aria-expanded="false" aria-controls="recognition-collapse-5")
              .recognition-item__year 2018
              .recognition-item__title WIDER FACE AND PEDESTRIAN CHALLENGE
          .recognition-item__body.collapse(id="recognition-collapse-5" aria-labelledby="recognition-heading-5" data-parent="#recognition")
            .recognition-item__logo.recognition-item__logo--more
              img(src="static/i/general/logos/logo-wider.svg" alt="Wider")
              span.delim
              img(src="static/i/general/logos/logo-amazon.svg" alt="Amazon")
            .recognition-item__text The Challenge addresses the problem of detecting pedestrians and cyclist in unconstrained environments
            .recognition-item__result
              p.recognition-item__result-item The III best performance on the detection of pedestrians and cyclists in images collected from surveillance cameras

  section.section
    .container
      h2.section-title #[strong Upcoming] Releases
      .releases-list
        .releases-item
          .releases-item__pic
            .releases-item__title Path Tracking
            img(src="http://picsum.photos/600/400?photo=10" alt="")
          .releases-item__content
            p Tracks the silhouette and path of a person passing by the camera:
            ul.check-list
              li Accurate people count
              li Effective in big crowds where people obscure each other.
              li Effective coupled with face recognition or as a stand-alone.
        .releases-item
          .releases-item__pic
            .releases-item__title Ethnicity Recognition
            img(src="http://picsum.photos/600/400?photo=11" alt="")
          .releases-item__content
            p Facial recognition algorithms analyze photographic images for the characteristics visible to an untrained eye. We can determine with good accuracy age, gender and certain emotions, as well as if the person is wearing sunglasses or a mustache.

  .page-footer.page-footer--tech
    .page-footer-background
    .container
      .page-footer-title
        strong How to compare
        br
        | face recognition technologies
      .page-footer-lead In this Guide we make an attempt to help people get more comfortable around the language and raw numbers of face recognition technology.
      .page-footer-button
        a.btn.btn-primary(href="#") READ FULL GUIDE IN OUR BLOG
  
  section.section.section--request
    .container
      h2.section-title #[strong Schedule] Demo
      form.demo-request
        .form-group
          label.sr-only(for="") Your name
          input.form-control(type="text" id="" placeholder="Your name")
        .form-group
          label.sr-only(for="") Company name
          input.form-control(type="text" id="" placeholder="Company name")
        .form-group
          button.btn.btn-link(type="submit")
            | Next step
            +icon("link-arrow")