.section--about-content
	font-size 18px
	line-height 24px
	padding 0 15px
	strong	
		font-weight bold
		display block	
	.about-section
		
		.about-content__items
			
			.about-content__item
				&-title
					font-size 18px
					margin 50px auto
				&-text
					font-size 14px
.about-sertificates
	display flex
	justify-content space-around
.about-section
	.about-sertificates-title
		margin 40px auto

		.global-blocks-title_text
			font-size 20px
			// font-weight bold
			// line-height 30px