.coopetarion-container	
	.section--delivery
		
		.delivery
			font-size 18px
			line-height 24px
			font-weight normal
			
			&-section
				background-color #F9FBFC
				padding 32px 25px
				margin-bottom 2px
				
				&.mrn
					margin-bottom 0	
				
				&__content
					
					&-text
						margin-bottom 20px

						&.more-mb
							margin-bottom 30px
						
						strong
							display: block
							font-weight: bold
					
					.tac
						text-align center
						margin-top 20px
						display: block
							
					.brands
						display -webkit-flex
						display -moz-flex
						display -ms-flex
						display -o-flex
						display flex
						flex-direction column
						align-items center
						max-width 151px
						margin: 30px auto 40px
						
						&__item
							margin-bottom 27px
							
							&:last-child
								margin-bottom 0
						
					&-title
						margin-bottom 30px
						
						&.mrn
							margin-bottom 0px

						span
							display: block
							
						strong
							display: block
							font-weight: bold
					
					.wholesale-buyers
						&__audio-adv
							height 107px
							width 107px
							border-radius 50%
							flex-basis auto
							margin 0 auto
							
						&__item_wrapper
							border-radius 50%
							padding-top 30px
								
				&.golden
					background-color: #C7B299
					
					.delivery-section__content-text
						color $white
						margin-bottom 90px
					
					.small
						font-weight 14
						font-weight 300			
				
				&__list
					&-title
						margin-bottom 20px
						font-weight: bold
			
			.nos
				display -webkit-flex
				display -moz-flex
				display -ms-flex
				display -o-flex
				display flex
				justify-content center
				padding 60px 0
				background-color: #F9FBFC		
				p
					font-size 70px
					font-weight: bold
					line-height 14px
					text-transform: uppercase
					