.section--features
  overflow hidden

.features
  @media (max-width: $grid-sm-max)
    background-color #142152
    clip-path polygon(0 0, 100% 0, 100% calc(100% - 16px), 0 100%)
    margin-left calc(var(--grid-gutter-width) / (-2))
    margin-right calc(var(--grid-gutter-width) / (-2))

  @media (min-width: $grid-md)
    align-items flex-start
    display flex
    flex-wrap wrap
    margin-left -10px

  @media (min-width: $grid-xl)
    margin-left -20px

.features-list
  @media (min-width: $grid-md)
    background-color #142152
    clip-path polygon(0 0, 100% 0, 100% calc(100% - 16px), 0 100%)
    margin-left 10px
    width calc(100%/3 - 10.02px)
  
  @media (min-width: $grid-xl)
    clip-path polygon(0 0, 100% 0, 100% calc(100% - 30px), 0 100%)
    margin-left 20px
    width calc(100%/3 - 20.02px)

.features-item
  background-color #142152
  border-bottom 1px solid #fff
  clip-path polygon(0 0, 100% 0, 100% 100%, 0 100%)
  color #fff
  font-weight 300
  overflow hidden
  position relative
  transition all 0.3s ease-in-out
  z-index 1

  // &::before
  //   background-image linear-gradient(60deg, #611959, $darkBlue 60%)
  //   background-repeat repeat-x
  //   bottom 0
  //   content ''
  //   left 0
  //   opacity 0
  //   position absolute
  //   right 0
  //   top 0
  //   transition opacity 0.2s ease

  &:hover
    // &::before
    //   opacity 1
    
    .features-item__link
      .icon
        opacity 1

  &.open
    background-color $primary
    border-bottom-color transparent
    clip-path polygon(0 0, 100% 0, 100% calc(100% - 16px), 0 100%)

    @media (min-width: $grid-xl)
      clip-path polygon(0 0, 100% 0, 100% calc(100% - 30px), 0 100%)

    // &::before
    //   opacity 0

    .features-item__text-inner
      opacity 1

  &__head
    position relative
    z-index 1

  &__link
    align-items center
    background-color transparent
    border 0
    color #fff
    cursor pointer
    display flex
    font-size 1.47rem
    font-weight 700
    height 90px
    padding 0 15px
    width 100%

    @media (min-width: $grid-md)
      font-size 1rem
      padding-left 20px
      padding-right 20px
    
    @media (min-width: $grid-xl)
      font-size 1.35rem
      height 120px
      padding-left 30px
      padding-right 30px
    
    @media (min-width: $grid-xxl)
      font-size 1.4rem
      height 157px
      padding-left 40px
      padding-right 40px

    &:focus
      outline none
  
    &-inner
      position relative
      text-align left
      width 100%

      @media (max-width: $grid-sm-max)
        padding-left 54px
        padding-right 24px

        &::after
          background-image url("data:image/svg+xml,%3Csvg width='9' height='17' viewBox='0 0 9 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.75 16L8.25 8.5L0.75 1' stroke='%23FFF' stroke-width='0.75' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
          content ''
          height 17px
          position absolute
          right 0
          top 7px
          transform rotate(90deg)
          transition transform 0.3s ease-in-out
          width 9px
      
      @media (min-width: $grid-md)
        padding-right 60px

    .icon
      left 0
      position absolute
      top 50%
      transform translateY(-50%)
      transition opacity 0.2s ease

      &--detection
        height 35px
        width 35px
      &--video
        height 34px
        width 43px
        transform translateX(-3px) translateY(-50%)
      &--age
        height 34px
        width 34px
      &--verification
        height 28px
        width 36px
      &--emotions
        height 28px
        width 33px
      &--ethnicity
        height 30px
        width 37px
      &--identification
        height 28px
        width 36px
      &--gender
        height 30px
        width 38px
      
      @media (min-width: $grid-md)
        left auto
        right 0
        &--video
          transform translateX(6px) translateY(-50%)

      @media (min-width: $grid-xl)
        &--detection
          height 48px
          width 48px
        &--video
          height 40px
          width 51px
        &--age
          height 48px
          width 48px
        &--verification
          height 41px
          width 52px
        &--emotions
          height 41px
          width 48px
        &--ethnicity
          height 40px
          width 48px
        &--identification
          height 37px
          width 47px
        &--gender
          height 39px
          width 50px

    &.collapsed
      .features-item__link-inner
        &::after
          @media (max-width: $grid-sm-max)
            transform rotate(0)

      .icon
        opacity 0.5

  &__text
    font-weight 300
    position relative

    @media (min-width: $grid-md) and (max-width: $grid-md-max)
      font-size 0.8rem
    
    &.collapsing
      transition-duration 0.3s

    &-inner
      opacity 0
      padding-left 15px
      padding-right 15px
      padding-bottom 40px
      transition opacity 0.2s ease
      
      @media (min-width: $grid-md)
        padding-left 20px
        padding-right 20px
      
      @media (min-width: $grid-xl)
        padding-left 30px
        padding-right 30px
      
      @media (min-width: $grid-xxl)
        padding-left 40px
        padding-right 40px