.return-container
	.section--return
		font-size 18px
		line-height 24px
		font-weight normal
		
		.return
			
			&-subtitle
				text-align center
				margin-bottom 20px
			
			&-text
				padding 44px 25px 50px
				background-color: #F9FBFC