.section--technology-content
	font-size 18px
	line-height 24px
	strong	
		font-weight bold
		display inline-block	
	.technology-content__title
		font-weight bold
	.technology-section-title
		margin 40px auto
	.technology-content__list
		.list
			.list__item
				font-size 14px
				list-style-type disc	
				list-style-position inside
	.technology-content__text
		strong
			font-weight bold
			margin 20px 0 40px 0
	.technology-content__list-title
		font-weight bold
	.technology-banner
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-items center
		text-align center
		justify-content space-around
		.technology-banner__text
			margin-top 38px
			font-size 13px
			max-width: 135px
	.list-icons
		.list-icons__item
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
			align-items flex-start
			margin-bottom 35px
			.list-icons__icon
				margin-right 23px
.section--banner
	.banner 
		margin-bottom 40px
// .global-blocks-title_text
// 	font-size 33px
// 	font-weight: bold
// 	line-height 30px	
.technology-section
	&-title
		.global-blocks-title_text
			font-size 33px
			font-weight: bold
			line-height 30px