.wholesale-container,
.coopetarion-container
	.section--wholesale,
	.section--cooperation
		.wholesale
			font-size 18px
			line-height 24px
			font-weight normal
			
			&-section
				background-color: #F9FBFC
				margin-bottom 2px
				padding 40px 10px
				
				&__wrapper
					display -webkit-flex
					display -moz-flex
					display -ms-flex
					display -o-flex
					display flex
					justify-content center
				
				&__text
					flex-basis 75%
					
					strong
						display: block
			
				&__img
					flex-basis 25%
					display -webkit-flex
					display -moz-flex
					display -ms-flex
					display -o-flex
					display flex
					align-items center
					justify-content center
					
					img
						//
					
					&.wholesale-table-img
						margin 40px 0
					
					&.wholesale-map-img
						margin-top 40px
					
				&--mod
					padding: 40px 0 
					
					p
						padding 0 25px 
					
					.wholesale-section
						
						&__wrapper
							flex-wrap wrap
							
						&__text	
							flex-basis 100%
							padding 0 10px	
							
						&__img
							flex-basis 100%
							
							img
								width 100%
					&.pdn
						padding: 0
						
						.wholesale-section__img
							margin: 0
					&.mrn
						margin 0				

			&-button
				margin-top 40px
				padding 0 10px		
			
			&-good
				
				font-size 18px
				line-height 24px
				padding: 0 10px	
				
				&__title
					text-align: center
					
					strong
						display: block
						font-weight: bold
						line-height 24px	
						
				&__img
					display -webkit-flex
					display -moz-flex
					display -ms-flex
					display -o-flex
					display flex
					justify-content center
					overflow: hidden
					
				&__text
					margin-bottom 75px
					//					