.blog-item
  margin-bottom 60px
  text-align left

  @media (min-width: $grid-md)
    align-items flex-start
    display flex

  @media (min-width: $grid-xl)
    margin-bottom 120px

  &__pic
    clip-path polygon(0 0, 100% 0, 100% calc(100% - 16px), 0 100%)
    flex-shrink 0
    margin-right 40px
    margin-right var(--grid-gutter-width)
    overflow hidden
    position relative
    width calc(50% - 40px)
    width calc(50% - var(--grid-gutter-width))
    z-index 1

    @media (max-width: $grid-sm-max)
      display none

    @media (min-width: $grid-xl)
      clip-path polygon(0 0, 100% 0, 100% calc(100% - 30px), 0 100%)

    img
      max-width 100%
  
  &__content
    @media (min-width: $grid-md)
      width calc(50% - 40px)
      width calc(50% - var(--grid-gutter-width))

  &__date
    font-size 0.7rem
    font-weight 300
    margin-bottom 0.55em
    text-transform uppercase

    @media (min-width: $grid-md)
      margin-top -0.2em
  
  &__title
    font-size 1.75rem
    font-weight 700
    line-height 1.1
    margin-bottom 0.35em

    @media (min-width: $grid-lg)
      font-size 2rem

    a
      color $bodyColor

      &:hover
        color $primary
  
  &__tag
    font-size 0.9rem
    font-weight 300
    margin-bottom 1.2em

    &-link
      background-color $blue
      color #fff
      display inline-block
      padding 0.1rem 0.2rem
      vertical-align top

      &:hover
        background-color darken($blue, 20%)
        color #fff
  
  &__lead
    font-size 1.05rem
    font-weight 300
    line-height 1.53
    margin-bottom 1.2em

    @media (min-width: $grid-md)
      padding-right 40px
      padding-right var(--grid-gutter-width)
    
    p
      margin-bottom 0
    
    h3
      font-size inherit
      font-weight 700
      margin-top 0.5em
      margin-bottom 0
  
  &__more
    .link-more
      letter-spacing 0.025em

.pagination
  font-size 1rem
  font-weight 700
  margin-top 50px
  margin-bottom 50px
  text-align center

  @media (min-width: $grid-lg)
    margin-bottom 60px

  @media (min-width: $grid-xl)
    margin-bottom 120px

  &__link
    color $blue
    margin-left 8px
    margin-right 8px

    &.active
      color $primary

.articles-search
  position relative

  @media (min-width: $grid-md)
    margin-left auto
    margin-right auto
    width calc(50% + 80px)
    width calc(50% + calc(var(--grid-gutter-width) * 2))

  .icon-search-2
    left 0
    position absolute
    top 0.4em

  .form-control
    padding-left 42px