.page-header--tech
  @media (max-width: $grid-sm-max)
    padding-bottom 3.5rem

.tech-awards
  margin-top 2rem

  @media (min-width: $grid-md)
    display flex
    justify-content center

.tech-awards-item
  align-items center
  display flex
  justify-content center

  @media (max-width: $grid-sm-max)
    margin-left auto
    margin-right auto
    width 240px

  + .tech-awards-item
    margin-top 30px

    @media (min-width: $grid-md)
      margin-top 0
      margin-left 40px
    
    @media (min-width: $grid-lg)
      margin-left 60px
    
    @media (min-width: $grid-xl)
      margin-left 110px
  
  &__logo
    @media (max-width: $grid-sm-max)
      flex-shrink 0
      text-align right
      width 50%

    img
      max-width 80px

      @media (min-width: $grid-xl)
        max-width 140px

  &__content
    align-items flex-start
    border-left 1px solid alpha(#fff, 0.3)
    display flex
    flex-direction column
    flex-shrink 0
    justify-content center
    line-height 1.125
    margin-left 10px
    padding-left 10px
    text-align left
    text-transform uppercase

    @media (max-width: $grid-sm-max)
      width 130px

    @media (min-width: $grid-md)
      margin-left 15px
      min-height 45px
      padding-left 15px

    @media (min-width: $grid-lg)
      margin-left 20px
      padding-left 20px
  
  &__title
    font-size 0.67rem
    font-weight 700

    @media (min-width: $grid-lg)
      font-size 0.8rem
  
  &__text
    font-size 0.6rem
    font-weight 300
    margin-top 0.2em

    @media (min-width: $grid-lg)
      font-size 0.7rem
  
  &--sm
    .tech-awards-item__title
      font-size 0.67rem
      line-height 1.16

.section--request
  margin-top 50px

.demo-request
  @media (min-width: $grid-md)
    align-items flex-start
    display flex
    justify-content center
    margin-top 60px
  
  @media (min-width: $grid-xl)
    margin-top 100px

  .form-group
    width 200px

    @media (max-width: $grid-sm-max)
      margin-left auto
      margin-right auto

    @media (min-width: $grid-xl)
      width 300px
    
    + .form-group
      @media (max-width: $grid-sm-max)
        margin-top 20px

      @media (min-width: $grid-md)
        margin-left 30px
  
  .btn-link
    padding 5px 0

.releases-item
  margin-bottom 50px

  @media (min-width: $grid-md)
    display flex
    justify-content space-between
    margin-bottom 40px
  
  @media (min-width: $grid-xl)
    margin-bottom 80px
  
  &:last-child
    margin-bottom 0
  
  &__pic
    clip-path polygon(0 0, 100% 0, 100% calc(100% - 16px), 0 100%)
    margin-bottom 22px
    padding-top 10px
    position relative

    @media (max-width: $grid-xs-max)
      margin-left calc(var(--grid-gutter-width) / (-2))
      margin-right calc(var(--grid-gutter-width) / (-2))
    
    @media (min-width: $grid-sm)
      padding-top 10px
      padding-right 10px
    
    @media (min-width: $grid-md)
      flex-shrink 0
      margin-bottom 0
      padding-top 15px
      padding-right 15px
      width calc(50% - 30px)
      width calc(50% - var(--grid-gutter-width) + 10px)

    @media (min-width: $grid-xl)
      clip-path polygon(0 0, 100% 0, 100% calc(100% - 30px), 0 100%)
      padding-right 20px

    img
      max-width 100%
  
  &__title
    background-color $darkBlue
    clip-path polygon(0 0, 100% 0, 100% calc(100% - 12px), 0 100%)
    color $blue
    font-size 1.4rem
    font-weight 700
    line-height $headings-line-height
    padding 16px 20px 22px
    position absolute
    right 0
    text-transform uppercase
    top 0
    width 200px

    @media (min-width: $grid-xl)
      clip-path polygon(0 0, 100% 0, 100% calc(100% - 30px), 0 100%)
      min-height 105px
      padding-left 28px
      padding-bottom 30px
      width 320px

  &__content
    font-size 1rem
    font-weight 300
    line-height 1.33

    @media (min-width: $grid-md)
      flex-shrink 0
      font-size 1.2rem
      line-height 1.5
      width calc(50% - 40px)
      width calc(50% - var(--grid-gutter-width))

  &:nth-child(2n)
    @media (min-width: $grid-md)
      flex-direction row-reverse
    
    .releases-item__pic
      clip-path polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 16px))

      @media (min-width: $grid-sm)
        padding-left 10px
        padding-right 0
      
      @media (min-width: $grid-md)
        padding-left 15px
        padding-right 0

      @media (min-width: $grid-xl)
        clip-path polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 30px))
        padding-left 20px
        padding-right 0

    .releases-item__title
      clip-path polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 12px))
      left 0
      right auto
      text-align right

      @media (min-width: $grid-xl)
        clip-path polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 30px))
        padding-right 28px

.check-list
  list-style none
  margin-bottom 0
  padding-left 0

  > li
    margin-bottom 0.35em
    padding-left 3em
    position relative

    &::before
      background-image url("data:image/svg+xml,%3Csvg height='26' viewBox='0 0 26 26' width='26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Ccircle cx='12.86' cy='12.86' fill='%23e73a7e' r='12.86'/%3E%3Cpath d='m7.8 13.26 3.32 3.35 6.8-6.73' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E")
      background-repeat no-repeat
      background-size contain
      content ''
      left 0
      position absolute
      top 0
      size 1.2em

      @media (min-width: $grid-md)
        top 0.25em
        size 1em

.section--tech
  @media (max-width: $grid-sm-max)
    margin-bottom 40px

  .section-title
    margin-bottom 1.75em

.tech-nav-tabs
  align-items stretch
  display flex
  flex-wrap nowrap
  list-style none
  margin-bottom 0
  padding-left 0

  @media (max-width: $grid-sm-max)
    margin-left calc(var(--grid-gutter-width) / (-2))
    margin-right calc(var(--grid-gutter-width) / (-2))
    overflow-x auto
    padding-left calc(var(--grid-gutter-width) / 2)
  
  &::-webkit-scrollbar
    display none

.tech-nav-item
  width 164px

  @media (min-width: $grid-md)
    width 20%

  + .tech-nav-item
    border-left 5px solid #fff

    @media (min-width: $grid-md)
      border-left-width 2px

.tech-nav-link
  border-bottom 3px solid $darkBlue
  color $darkBlue
  display block
  font-size 1.25rem
  font-weight 700
  height 65px
  line-height 1.08
  padding-right 15px
  padding-right calc(var(--grid-gutter-width) / 2)
  position relative
  text-transform uppercase

  @media (min-width: $grid-md)
    border-bottom-width 6px
    font-size 1rem
    height 100%
    padding-bottom 2.15rem

  @media (min-width: $grid-lg)
    font-size 1.2rem
  
  @media (min-width: $grid-xl)
    font-size 1.4rem
    padding-right 40px
    padding-right var(--grid-gutter-width)

  &.active
    border-bottom-color $primary
    color $primary

    &::after
      @media (min-width: $grid-md)
        border-color $primary transparent transparent
        border-style solid
        border-width 13px 15px 0 15px
        content ''
        height 0
        left 50%
        margin-top 6px
        position absolute
        top 100%
        transform translateX(-50%)
        width 0
  
  &:hover
    color $primary

.tech-body
  & > .tech-pane
    display none
    &.active
      display block

.tech-content
  padding-top 30px
  padding-bottom 4rem
  padding-left 15px
  padding-right 15px
  padding-left calc(var(--grid-gutter-width) / 2)
  padding-right calc(var(--grid-gutter-width) / 2)
  position relative

  @media (max-width: $grid-sm-max)
    background-color #F5F5F5
    margin-left calc(var(--grid-gutter-width) / (-2))
    margin-right calc(var(--grid-gutter-width) / (-2))

  @media (min-width: $grid-md)
    border-left 1px solid #e1e1e1
    border-right 1px solid #e1e1e1
    padding-top 2.5rem
    padding-bottom 6rem
    padding-left 40px
    padding-right 40px
    padding-left var(--grid-gutter-width)
    padding-right var(--grid-gutter-width)
  
  @media (min-width: $grid-lg)
    padding-left 80px
    padding-right 80px
    padding-left calc(var(--grid-gutter-width) * 2)
    padding-right calc(var(--grid-gutter-width) * 2)
    padding-bottom 7rem
  
  &::after
    @media (min-width: $grid-md)
      background-color #fff
      border-top 1px solid #e1e1e1
      bottom 0
      content ''
      height 16px
      left -1px
      position absolute
      right -1px
      transform rotate(-1.33deg)
      transform-origin 100% 0

    @media (min-width: $grid-lg)
      transform rotate(-1deg)

    @media (min-width: $grid-xl)
      height 30px
      transform rotate(-1.56deg)

    @media (min-width: $grid-xxl)
      transform rotate(-1.32deg)

.tech-content-header
  border-bottom 1px solid #e1e1e1
  margin-bottom 30px
  padding-bottom 20px

  @media (min-width: $grid-md)
    align-items center
    display flex
    margin-bottom 3rem
    padding-bottom 2.5rem

  &__icon
    margin-bottom 16px

    @media (min-width: $grid-md)
      flex-shrink 0
      margin-left 40px
      margin-right 80px
      margin-left var(--grid-gutter-width)
      margin-right calc(var(--grid-gutter-width) * 2)
      margin-bottom 0

    img
      size 51px

      @media (min-width: $grid-md)
        size 68px

  &__title
    color $primary
    font-size 1rem
    font-weight 700
    line-height 1.33

    @media (min-width: $grid-md)
      font-size 1.2rem

    @media (min-width: $grid-xl)
      font-size 1.8rem

.tech-content-body
  font-size 1rem
  font-weight 300
  line-height 1.33

  @media (min-width: $grid-md)
    font-size 1.2rem
    line-height 1.58
  
  @media (min-width: $grid-xl)
    font-size 1.4rem

  strong, b
    font-weight 700

.tech-table-wrapper
  @media (max-width: $grid-xs-max)
    margin-left calc(var(--grid-gutter-width) / (-2))
    margin-right calc(var(--grid-gutter-width) / (-2))
    overflow hidden

.tech-table
  thead
    tr
      th
        color $darkBlue
        font-size 0.6rem
        font-weight 700
        padding 1.5rem 5px 1rem
        text-align center
        text-transform uppercase
        white-space nowrap

        @media (min-width: $grid-sm)
          font-size 0.8rem

        @media (min-width: $grid-md)
          font-size 1rem

        @media (min-width: $grid-xl)
          font-size 1.4rem
          padding-top 2rem
          padding-bottom 1.75rem

        &.cell-value
          border-left 1px solid transparent

          @media (min-width: $grid-md)
            width 16.2%

  tbody
    tr
      td
        border-bottom 1px solid #e1e1e1
        font-size 0.8rem
        font-weight 300
        height 3rem
        padding 0.75rem 20px
        position relative
        text-align center
        vertical-align middle

        @media (min-width: $grid-md)
          font-size 1.4rem
          height 5.25rem
          padding-top 1.25rem
          padding-bottom 1.25rem

        &.cell-logo
          text-align right

          @media (min-width: $grid-md)
            padding-left 0
            padding-right 40px
            padding-right var(--grid-gutter-width)

          img
            vertical-align middle

            @media (max-width: $grid-md-max)
              height auto
              max-width 100px
            
            @media (max-width: $grid-sm-max)
              max-height 30px
              max-width 80px
            
            @media (max-width: $grid-xs-max)
              max-height 20px
              max-width 60px
        
        &.cell-value
          border-left 1px solid #e1e1e1
          width 16%
        
        &:first-child::before,
        &:last-child::before
          @media (min-width: $grid-sm)
            border-bottom 1px solid #e1e1e1
            content ''
            height calc(100% + 1px)
            position absolute
            top 0
            width 15px
            width calc(var(--grid-gutter-width) / 2)
            z-index 1
          
          @media (min-width: $grid-md)
            width 41px
            width calc(var(--grid-gutter-width) + 1px)
          
          @media (min-width: $grid-lg)
            width 81px
            width calc(var(--grid-gutter-width) * 2 + 1px)

          @media all and (-ms-high-contrast: none)
            display none

        &:first-child::before
          @media (min-width: $grid-sm)
            right 100%
        
        &:last-child::before
          @media (min-width: $grid-sm)
            left 100%

      &.row-current
        td
          background-color #100640
          border-bottom-color #100640
          border-left-color #100640
          color #e73a7e
          font-weight 700

          &:first-child::before,
          &:last-child::before
            @media (min-width: $grid-sm)
              background-color #100640
              border-bottom-color #100640

.tech-content-button
  left 0
  position absolute
  right 0
  text-align center
  top 100%
  transform translateY(-50%)
  z-index 1

  @media (min-width: $grid-md)
    transform translateY(-66%)
  
  @media (min-width: $grid-lg)
    transform translateY(-76%)

.recognition-header
  margin-bottom 40px

  @media (min-width: $grid-md)
    align-items center
    display flex
    margin-left auto
    margin-right auto
    margin-bottom 105px
  
  @media (min-width: $grid-lg)
    width 75%

  &__item
    font-weight 500
    line-height 1.33
    position relative
    text-align center

    @media (min-width: $grid-md)
      font-size 1.2rem
      line-height 1.5
      width 50%

      &:first-child
        font-weight 700
        padding-right 40px
        padding-right var(--grid-gutter-width)
        text-align right

      &:last-child
        font-weight 300
        padding-left 40px
        padding-left var(--grid-gutter-width)
        text-align left

        &::before
          background-image url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='39' viewBox='0 0 23 39'%3E%3Cpolygon fill='%23F10B67' fill-rule='evenodd' points='16.761 19.43 0 2.844 2.814 0 22.447 19.43 2.814 38.86 0 36.016'/%3E%3C/svg%3E")
          background-repeat no-repeat
          background-size 100% 100%
          content ''
          height 36px
          left 0
          position absolute
          top 50%
          transform translate(-45%, -50%)
          width 21px

.recognition-list
  position relative

  @media (max-width: $grid-sm-max)
    padding-left 18px

    &::before
      border-left 2px solid $bodyColor
      content ''
      height 100%
      left 3px
      position absolute
      top 0
  
  @media (min-width: $grid-md)
    align-items stretch
    display flex

    &::before
      border-top 4px solid $bodyColor
      content ''
      left 0
      position absolute
      top 4.75rem
      width 100%

.recognition-item
  position relative

  @media (max-width: $grid-sm-max)
    border-bottom 1px solid #e1e1e1

    &::before
      background-color $primary
      clip-path polygon(0 0, 100% 0, 100% 82%, 0 100%)
      content ''
      height 13px
      left -16px
      position absolute
      top 1.15rem
      width 9px
    
    &:first-child
      &::before
        top 0

      .recognition-item__link
        padding-top 0
    
    &:last-child
      border-bottom 0
  
  @media (min-width: $grid-md)
    flex-basis 20%
    padding-top 6.5rem
    padding-right 80px
    padding-right var(--grid-gutter-width)
    width 20%

    &::before
      background-color $primary
      clip-path polygon(0 0, 100% 0, 100% 82%, 0 100%)
      content ''
      height 17px
      left 0
      position absolute
      top calc(4.75rem - 1px)
      width 16px
    
    &:last-child
      padding-right 0 !important
    
    &:hover
      .recognition-item__logo
        img
          filter grayscale(0)
          opacity 1
  
  @media (min-width: $grid-xl)
    padding-right 80px
    padding-right calc(var(--grid-gutter-width) * 2)

  &__head
    @media (min-width: $grid-md)
      margin-bottom 0.6em

  &__link
    @media (max-width: $grid-sm-max)
      cursor pointer
      padding-top 1.15rem
      padding-bottom 1.15rem
      position relative

      &::after
        background-image url("data:image/svg+xml,%3Csvg width='9' height='17' viewBox='0 0 9 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.75 16L8.25 8.5L0.75 1' stroke='%23142152' stroke-width='0.75' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
        content ''
        height 17px
        margin-top -8.5px
        position absolute
        right 4px
        top 50%
        transform rotate(90deg)
        transition transform 0.35s ease
        width 9px
      
      &.collapsed
        &::after
          transform rotate(0)

  &__year
    font-size 1.47rem
    font-weight 500
    line-height 1.2
    margin-bottom 0.25em

    @media (min-width: $grid-md)
      font-size 1.1rem
      font-weight 700
      margin-bottom 1.6em

  &__title
    font-weight 500
    line-height 1.2
    text-transform uppercase

    @media (min-width: $grid-md)
      font-size 0.9rem
      font-weight 700
  
  &__body
    @media (min-width: $grid-md)
      display block !important
      font-size 0.9rem
      height auto !important
      overflow visible !important
      position static !important
      transition none !important

  &__logo
    align-items center
    display flex
    margin-bottom 1em

    @media (min-width: $grid-md)
      left 0
      margin-bottom 0
      position absolute
      right 0
      top 0

    img
      flex-shrink 0
      height 46px
      max-width 65%
      object-fit contain
      transition all 0.2s ease

      @media (min-width: $grid-md)
        filter grayscale(1)
        opacity 0.6
      
      &[src*="uw"]
        height 46px
        width 106px
      
      &[src*="iarpa"]
        height 46px
        width 141px

      &[src*="nist"]
        height 27px
        width 103px
      
      &[src*="wider"]
        height 46px
        width 46px
      
      &[src*="amazon"]
        height 33px
        width 109px
    
    .delim
      border-left 1px solid #dedde3
      height 27px
      margin-left 15px
      margin-right 15px

      @media (min-width: $grid-lg)
        height 34px
    
    &--more
      img
        @media (min-width: $grid-md) and (max-width: $grid-md-max)
          &[src*="wider"]
            max-height 27px

          &[src*="amazon"]
            max-height 20px

        @media (min-width: $grid-lg) and (max-width: $grid-lg-max)
          &[src*="wider"]
            max-height 39px

          &[src*="amazon"]
            max-height 28px

  &__text
    font-weight 300
    line-height 1.33
    margin-bottom 20px
  
  &__result
    line-height 1.33
    padding-top 14px
    position relative

    @media (max-width: $grid-sm-max)
      font-weight 500

    &::before
      border-top 1px solid #DEDDE3
      content ''
      left 0
      position absolute
      top 0
      width 71px

    &-item
      color $primary