include ../mixins
block variables

doctype html
|
|
<html class="no-js html" lang="ru">
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title= title
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  meta(name="description" content="")
  |
  | <!-- inject:head:html -->
  | <!-- endinject -->
  link(href="static/css/main.css" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&amp;subset=cyrillic" rel="stylesheet")
  script(src="static/js/modernizr-custom.js")
body.body
  include ../modules/header
  main.main
    block content
  include ../modules/footer
  script(src="static/js/libs.js")
  script(src="static/js/main.js")
|
|
</html>